flask==0.10.1
werkzeug==0.9.6
tornado==4.4.2
sockjs-tornado==1.0.3
PyYAML==3.11
Flask-Login==0.3.2
Flask-Principal==0.4.0
Flask-Assets==0.10
pyserial==3.2.1
netaddr==0.7.12
watchdog==0.8.3
sarge==0.1.4
requests==2.12.1
requests-toolbelt==0.7.0
flask-compress==1.0.2
scss==0.8.73
closure==20140110
python-networkmanager==1.0.1
netifaces
ws4py==0.3.5
wsaccel==0.6.2
usbid==1.0.3
futures==3.0.4
blinker==1.4
v4l2==0.2
