flask==0.12.2
werkzeug==0.9.6
tornado==4.4.2
PyYAML==3.11
Flask-Login==0.4.1
Flask-Principal==0.4.0
Flask-Assets==0.12
pyserial==3.2.1
libusb1==1.6.4
netaddr==0.7.12
watchdog==0.8.3
sarge==0.1.4
requests==2.12.1
requests-toolbelt==0.7.0
flask-compress==1.0.2
netifaces
ws4py==0.3.4
futures==3.0.4
blinker==1.4
v4l2==0.2
pycrypto==2.6.1
pyudev==0.21.0
