#control-view {
	h1 {
		font-size: rem-calc(60);
		margin: 10px 0;
	}

	h2 {
		font-size: rem-calc(20);
	}
}

#xy-controls,
#z-controls  {
	button {
		display: inline-block;
		margin-bottom: 0;
		border: 0;
		background-color: transparent;

		&:hover, &:active {
			background-color: transparent;
		}
	}
}

#xy-controls {
	button {
		position: relative;
		&.home_z {
			top: -60px;
			margin: 0 20px;
		}

		&.control_btn_x_plus,
		&.control_btn_x_minus {
			top: -22px;
		}

		&.control_btn_y_minus {
			top: -43px;
		}
	}
}

#z-controls {
	button.home_z {
		margin: 30px 0;
	}
}

#distance-control {
	margin-top: 40px;

	ul {
		display: inline-block;
		padding: 0;
		li button {
			margin-bottom: 0;
			font-size: rem-calc(25);
		}
	}
}

#temp-control {
	.current-temp-top {
		text-align: center;
		margin-bottom: 10px;
		font-size: rem-calc(60);
		color: $alert-color;
	}

	.temp-bar {
		height: 362px;
		background: url(/img/temp_gradient.png) repeat-x;
		position: relative;
		margin-bottom: 19px;

		.set-temp {
			position: absolute;
			left: -5%;
			top: 20px;
			background-color: #505050;
			padding: 10px;
			text-align: center;
			color: white;
			width: 110%;
			font-size: rem-calc(22);
			border-radius: $global-radius;
			cursor: pointer;

			&.moving {
				background-color: lighten(#505050, 20%);
			}
		}

		.current-temp {
			position: absolute;
			left: -5%;
			height: 6px;
			top: 100px;
			background-color: #505050;
			width: 110%;
			transition: top 0.5s;

			.triangle_left {
				position: absolute;
				left: -8px;
				top: -6px;
			}

			.triangle_right {
				position: absolute;
				right: -8px;
				top: -6px;
			}

		}

		label {
			text-align: center;
			color: white;
			position: absolute;
			bottom: 0px;
			padding: 5px;
			left: 0;
			width: 100%;
			font-size: rem-calc(28);
		}
	}

	.fan-control,
	.temp-control-cont {
		text-align: center;
	}

	.fan-control-push {
		font-size: rem-calc(17);
		padding-top: 17px;
		height: 390px;
	}

	.fan-control {
		h2 {
			margin-bottom: 20px;
		}

		.fan_icon {
			display: inline-block;
			vertical-align: middle;
		}
	}
}

#extrusion-control {
	margin-top: 26px;

	input {
		padding: 0 5px;
		font-size: rem-calc(20);
		height: 45px;
		width: 100%;
	}
}