#home-view {
	.design-file-upload {
		margin-top: 20px;
		position: relative;

		input[type=file] {
			opacity: 0;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}

	.file-upload-progress {
		text-align: left;
	}
}