@charset "UTF-8";

@font-face {
    font-family: 'nexa_lightregular';
    src: url('/font/nexa_light-webfont.eot');
    src: url('/font/nexa_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/nexa_light-webfont.woff') format('woff'),
         url('/font/nexa_light-webfont.ttf') format('truetype'),
         url('/font/nexa_light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nexa_boldregular';
    src: url('/font/nexa_bold-webfont.eot');
    src: url('/font/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/nexa_bold-webfont.woff') format('woff'),
         url('/font/nexa_bold-webfont.ttf') format('truetype'),
         url('/font/nexa_bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import
    "normalize",
    "fontello",
    "sprites",
    "animations",
    "foundation/settings",
    "foundation/components/top-bar",
    "foundation/components/button-groups",
    "foundation/components/offcanvas",
    "foundation/components/reveal",
    "foundation/components/progress-bars",
    "foundation/components/tables",
    "foundation/components/panels";

html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
	background: url('/img/subtle_dots_v1.png');
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
} 

b, 
strong,
.bold {
  font-family: "nexa_boldregular", Helvetica, Arial, sans-serif;
}

.off-canvas-wrap {
	min-height: 100%;

	.inner-wrap {
		min-height: 100%;
	}
}

.tab-bar {
	.tab-bar-section.middle {
		right: 0;
	}

	h1.title {
		display: inline-block;

		img {
			margin-top: 10px;
			height: 65%;
		}	
	}
}

.off-canvas-list {
	label {
		display: block;

		&.account {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: rem-calc(10);
		}
	}
}

.left-off-canvas-menu {
	.turn-off-area {
		padding-top: 40px;
	}
}

#main {
	border-top: 1px solid #ccc;
}

#connection-view {
	i {
		font-size: rem-calc(20);
		padding: 0 5px;
		display: inline-block;
        color: #505050;

		&.connected {
			color: $success-color;
		}	

		&.failed {
			color: $alert-color;
			cursor: pointer;
		}
	}
}

@import
    "noty",
    "widgets", 
    "control",
    "home",
    "turnoff";