@charset "UTF-8";

@import
    "foundation/settings",
    "foundation/components/visibility";

#main-menu {
    li {
        a.login {
            margin: 0;
            color: white;
        }
    }
}

#login-modal {
    img.logo {
        margin-bottom: 20px;
    }
}

@media #{$medium-only} {
    #login-modal {
        width: 80%;
        margin-left: -40%;
    }
}