@charset "UTF-8";

@font-face {
    font-family: 'nexa_lightregular';
    src: url('/font/nexa_light-webfont.eot');
    src: url('/font/nexa_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/nexa_light-webfont.woff') format('woff'),
         url('/font/nexa_light-webfont.ttf') format('truetype'),
         url('/font/nexa_light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nexa_boldregular';
    src: url('/font/nexa_bold-webfont.eot');
    src: url('/font/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/nexa_bold-webfont.woff') format('woff'),
         url('/font/nexa_bold-webfont.ttf') format('truetype'),
         url('/font/nexa_bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import
    "normalize",
    "foundation/settings",
    "foundation/components/top-bar",
    "foundation/components/button-groups";

.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

body {
	background: url('/img/subtle_dots_v1.png');
}

b, 
strong,
.bold {
  font-family: "nexa_boldregular", Helvetica, Arial, sans-serif;
}

.top-bar {
	.title-area {
		max-width: 50%;
		padding-left: 10px;
	}
}

#main {
	border-top: 1px solid #ccc;
}

#connection-view {
	i {
		font-size: rem-calc(25);
		padding: 0 10px;
		display: inline-block;

		&.connected {
			color: $success-color;
		}	

		&.failed {
			color: $alert-color;
			cursor: pointer;
		}
	}
}

#bottom-menu {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;

	li {
		float: left;
		list-style: none;
		height: 95px;
		width: 33.3%;
		text-align: center;
		padding: 0;

		button {
			width: 99%;
			height: 100%;
			text-align: center;

			> div {
				display: inline-block;
			}

			&.active {
				background-color: darken($success-color, 20%);
			}
		}
	}
}

@import "control";