@charset "UTF-8";

@import
	"fonts",
    "normalize",
    "fontello",
    "animations",
    "widgets",
    "foundation/settings",
    "foundation/components/global",
    "foundation/components/grid",
    "foundation/components/buttons",
    "foundation/components/forms",
    "foundation/components/alert-boxes",
    "common-main";

#setup-view {
	.step {
		h1 {
			background-color: $alert-color;
			color: white;
			margin: 0;
			padding: 20px 10px;
			font-size: rem-calc(25);
			text-align: center;
		}

		.content {
			padding: 20px;

			h2 {
				font-size: rem-calc(20);
				text-align: center;
			}

			a {
				color: $primary-color;
			}
		}

		.next-step {
			i.icon-right-open {
				font-size: rem-calc(13);
			}
		}

	    background-color: white;
	    margin: 50px 0;
	    @include radius(10px);
	    box-shadow: 0px 0px 20px #ccc;
	    overflow: hidden;
	}

    label {
        text-align: left;
        font-size: rem-calc(25);
    }

    small.error {
        text-align: left;
    }

    img {
        margin-bottom: 20px;
    }
}

#step-share {
	.share-button {
		width: 70%;
		font-size: rem-calc(30);

		&.facebook {
			background-color: #45619d;
		}

		&.twitter {
			background-color: #2fc2ef;
		}
	}
}