.control_bg_xy, .control_btn_x_minus, .control_btn_x_plus, .control_btn_y_minus, .control_btn_y_plus, .control_btn_z_minus, .control_btn_z_plus, .current_temp_bar, .fan_icon, .home_z, .temp_gradient, .triangle_left, .triangle_right, .control_icon, .gear_icon, .house_icon, .therm_icon{
background: url(/img/img_sprite_control.png) no-repeat;
}

.control_bg_xy{
background-position: -162px 0;
width: 302px;
height: 234px;
}

.control_btn_x_minus{
background-position: -128px -238px ;
width: 64px;
height: 124px;
}

.control_btn_x_plus{
background-position: -346px -238px ;
width: 66px;
height: 126px;
}

.control_btn_y_minus{
background-position: -211px -291px ;
width: 132px;
height: 98px;
}

.control_btn_y_plus{
background-position: -222px -238px ;
width: 104px;
height: 54px;
}

.control_btn_z_minus{
background-position: 0 -271px ;
width: 116px;
height: 57px;
}

.control_btn_z_plus{
background-position: 0 -208px ;
width: 116px;
height: 57px;
}

.current_temp_bar{
background-position: 0 -336px ;
width: 117px;
height: 18px;
}

.fan_icon{
background-position: -118px -147px ;
width: 28px;
height: 28px;
}

.home_z{
background-position: 0 -149px ;
width: 68px;
height: 53px;
}

.temp_gradient{
background-position: -468px 0;
width: 1px;
height: 382px;
}

.triangle_left{
background-position: -74px -149px ;
width: 14px;
height: 18px;
}

.triangle_right{
background-position: -91px -149px ;
width: 14px;
height: 18px;
}

.control_icon{
background-position: -82px -72px ;
width: 78px;
height: 70px;
}

.gear_icon{
background-position: -73px 0;
width: 78px;
height: 70px;
}

.house_icon{
background-position: 0 -74px ;
width: 78px;
height: 70px;
}

.therm_icon{
background-position: 0 0;
width: 78px;
height: 70px;
}