{% extends 'base.jinja2' %}

{% block css %}
	{% assets filters="scss", output="css/gen/app.css", 
		"css/scss/app.scss" %}
		<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
	{% endassets %}
{% endblock %}

{% block content %}
	<div id="app" class="off-canvas-wrap" data-offcanvas>
		<div class="inner-wrap">
			<nav class="tab-bar">
				<section class="left-small">
					<a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
				</section>

				<section class="middle tab-bar-section">
					<h1 class="title"><img src="/img/astroprint-logo_tm.png"/></h1>
					<div class="right" id="connection-view">
						<i class="icon-print printer"></i>
						<i class="icon-exchange server"></i>
					</div>
				</section>
			</nav>
			<aside class="left-off-canvas-menu">
				<ul class="off-canvas-list" id="main-menu">
					<li><label>AstroPrint&trade;</label></li>
					<li class="view" data-view="home"><a href="#"><i class="icon-home"></i> Home</a></li>
					<li class="view" data-view="control"><a href="#"><i class="icon-move"></i> Control</a></li>
					<li class="view" data-view="settings"><a href="#"><i class="icon-cog"></i> Settings</a></li>
					<li><label class="account bold"><i class="icon-user"></i> {{user_email}}</label></li>
					<li class="logout"><a href="#"><i class="icon-logout"></i> Sign out <i class="icon-spin1 animate-spin hide"></i></a></li>
				</ul>
				<div class="turn-off-area" align="center">
					<a href="#" class="button alert tiny radius" data-reveal-id="turnoff-modal"><i class="icon-off"></i> Turn AstroBox&trade; Off</a>
				</div>
				<div class="copy" align="center">&copy; 3DaGoGo, Inc. AstroPrint&trade; v1.0(xxx)</div>
			</aside>
			<div id="main">
				<div class="row">
					<div id="view-container" class="small-12 columns">
						<div id="home-view">
							{% include 'home.jinja2' %}
						</div>
						<div id="control-view" class="hide">
							{% include 'control.jinja2' %}
						</div>
						<div id="settings-view" class="hide">
							{% include 'settings.jinja2' %}
						</div>
					</div>
				</div>
			</div>
			<a class="exit-off-canvas"></a>
		</div>
	</div>

	{% include 'turnoff.jinja2' %}
{% endblock %}

{% block js %}
	<script type="text/javascript">
		var UI_API_KEY = "{{ uiApiKey }}";
		var BASEURL = "{{ url_for('index') }}";
		var API_BASEURL = BASEURL + "api/";
		var SOCKJS_URI = window.location.protocol.slice(0, -1) + "://" + (window.document ? window.document.domain : window.location.hostname) + ":" + window.location.port + "/sockjs";
		var SOCKJS_DEBUG = {%  if debug -%} true; {% else %} false; {%- endif %}
	</script>
	{% assets filters="closure_js", output="js/gen/app.js", 
		"js/lib/jquery.js", "js/lib/jquery.ui.widget.js", "js/lib/underscore.js", "js/lib/backbone.js", "js/lib/foundation/foundation.js", "js/lib/foundation/foundation.offcanvas.js", "js/lib/foundation/foundation.reveal.js", "js/lib/sockjs.js", "js/lib/fastclick.js", "js/lib/jquery.fileupload.js", "js/lib/jquery.noty.js", "js/lib/jquery.noty.top.js",
		"js/app/models/socketdata.js", "js/app/models/designfiles.js", 
		"js/app/views/home.js", "js/app/views/control.js", "js/app/views/settings.js", "js/app/views/connection.js", "js/app/views/turnoff.js",
		"js/app/app.js" -%}
			<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{%- endassets %}
	<script type="text/javascript">
		$(document).foundation();
	</script>
{% endblock %}