<h1 class="bold" align="center">Printer Controls</h1>
<div class="row">
	<div class="small-12 medium-7 columns">
		<div class="row">
			<div class="small-7 columns" id="xy-controls">
				<h2 class="bold" align="center">X/Y Axis</h2>
				<div class="control_bg_xy" align="center">
					<button class="control_btn_y_plus"></button><br/>
					<button class="control_btn_x_minus"></button> <button class="home_z"></button> <button class="control_btn_x_plus"></button><br/>
					<button class="control_btn_y_minus"></button>
				</div>
			</div>
			<div class="small-5 columns" id="z-controls">
				<h2 class="bold" align="center">Z Axis</h2>
				<center>
					<button class="control_btn_z_plus"></button><br/>
					<button class="home_z"></button><br/>
					<button class="control_btn_z_minus"></button>
				</center>
			</div>
			<div class="small-12 columns" id="distance-control">
				<center>
					<ul class="button-group radius">
						<li><button class="small bold secondary" data-value="0.1">0.1</button></li>
						<li><button class="small bold secondary" data-value="1">1</button></li>
						<li><button class="small bold success" data-value="10">10</button></li>
						<li><button class="small bold secondary" data-value="100">100</button></li>
					</ul>
				</center>
			</div>
			<div class="small-12 columns" id="extrusion-control">
				<h2 class="bold">Extrude Filament</h2>
				<div class="small-4 columns">
					<input type="text" class="expand" placeholder="e.g. 100 mm"/>
				</div>
				<div class="small-4 columns">
					<button class="small radius expand success">Extrude</button>
				</div>
				<div class="small-4 columns">
					<button class="small radius expand success">Retract</button>
				</div>
			</div>
		</div>
	</div>
	<div class="small-12 medium-5 columns" id="temp-control">
		<div class="row">
			<div class="small-4 columns temp-control-cont nozzle">
				<span class="current-temp-top bold">- -</span>
				<div class="temp-bar">
					<label class="bold">Nozzle</label>
					<div class="current-temp">
						<div class="triangle_left"></div>
						<div class="triangle_right"></div>
					</div>
					<div class="set-temp radius bold">- -</div>
				</div>
				<button class="temp-off secondary small radius expand">OFF</button>
			</div>
			<div class="small-4 columns fan-control">
				<div class="fan-control-push" align="center">
					Current Temp
				</div>
				<h2 class="bold">Fans <span class="fan_icon"></span></h2>
				<button class="radius small expand success">ON</button>
			</div>
			<div class="small-4 columns temp-control-cont bed">
				<span class="current-temp-top bold">- -</span>
				<div class="temp-bar">
					<label class="bold">Bed</label>
					<div class="current-temp">
						<div class="triangle_left"></div>
						<div class="triangle_right"></div>
					</div>
					<div class="set-temp radius bold">- -</div>
				</div>
				<button class="temp-off secondary small radius expand">OFF</button>
			</div>
		</div>
	</div>
</div>