<div class="row">
	<div class="small-12 columns" align="center">
		<h2 class="bold">Choose a File to Print Below<br/>or</h2>
		<div class="design-file-upload">
			<span class="file-upload-button button success radius" style="margin-bottom: 10px">
				<i class="icon-upload-cloud-1"></i> Upload Design File
				<input class="file-upload" type="file" name="file" data-url="/api/cloud-slicer/upload">
			</span>
			<div class="progress file-upload-progress radius" style="display:none">
				<div class="meter" style="width: 0%"></div>
			</div>
		</div>
	</div>
	<div class="design-list small-12 columns">
		<h3 class="bold">My Designs <i class="icon-spin1 animate-spin" style="display:none"></i></h3>
		<div class="design-list-container"></div>
	</div>
</div>

<script type="text/template" id="design-list-template">
	<% if (designs.length) { %>
		<table>
			<thead>
				<tr>
					<th class="bold">Name</th>
					<th style="width:130px"></th>
				</tr>
			</thead>
			<tbody>
			<% designs.each(function(d) {
				var gcodes = d.get('gcodes');
				if (gcodes.length) {
					_.each(gcodes, function(g) { %>
						<tr id="gcode-file-<%= g.id%>" data-design-id="<%= d.get('id') %>">
							<td><i class="<%= g.local_filename ? 'icon-drive' : 'icon-cloud' %>"></i> <%= g.name %></td>
							<td>
								<div class="gcode-options">
									<% if (g.local_filename) { %>
										<div class="loading-button">
											<a class="trash" href="#" onclick="home_delete_gcode_clicked(this); return false" data-id="<%= g.id %>" data-local-name="<%= g.local_filename %>">
												<i class="icon-trash"></i>
											</a>
											<button class="success tiny radius" onclick="home_print_gcode_clicked(this)" data-filename="<%= g.local_filename %>">
												<i class="icon-print"></i> Print &gt;
											</button>
											<span class="loading button tiny disabled success radius"><i class="icon-spin1 animate-spin"></i> Sending...</span>
										</div>
									<% } else { %>
										<a href="#" onclick="home_download_gcode_clicked(this); return false" data-id="<%= g.id %>" >
											<i class="icon-download"></i>
										</a>
									<% } %>
								</div>
								<div class="progress round tiny" style="display:none">
									<div class="meter" style="width: 0%"></div>
								</div>
							</td>
						</tr>
					<% });
				}
			}); %>
			</tbody>
		</table>
	<% } else { %>
		<div class="empty panel radius" align="center">
			<i class="icon-inbox empty-icon"></i>
			Nothing here yet.
		</div>
	<% } %>
</script>