<div class="row">
	<div class="small-12 columns" align="center">
		<h2 class="bold">Choose a File to Print Below<br/>or</h2>
		<div class="design-file-upload">
			<span class="file-upload-button button success radius" style="margin-bottom: 10px">
				<i class="icon-upload-cloud-1"></i> Upload Design File
				<input class="file-upload" type="file" name="file" data-url="/api/cloud-slicer/upload">
			</span>
			<div class="progress file-upload-progress radius" style="display:none">
				<div class="meter" style="width: 0%"></div>
			</div>
		</div>
	</div>
	<div class="design-list small-12 columns">
		<h3 class="bold">My Designs <i class="icon-spin1 animate-spin" style="display:none"></i></h3>
		<div class="design-list-container"></div>
	</div>
</div>

<script type="text/template" id="design-list-template">
	<% if (designs.length) { %>
		<table>
			<thead>
				<tr>
					<th class="bold">Print</th>
					<th style="width:50px"><center><i class="icon-stopwatch" title="Estimated time"></i></center></th>
					<th style="width:70px"><center><i class="icon-layers" title="Layers"></i></center></th>
					<th style="width:130px"></th>
				</tr>
			</thead>
			<tbody>
			<% designs.each(function(d) {
				var print_files = d.get('print_files');
				if (print_files.length) {
					_.each(print_files, function(p) { %>
						<tr id="print-file-<%= p.id%>" data-design-id="<%= d.get('id') %>">
							<td><i class="<%= p.local_filename ? 'icon-drive' : 'icon-cloud' %>"></i> <%= p.name %></td>
							<td align="center"><%= time_format(p.info.print_time) %></td>
							<td align="center"><%= p.info.layer_count %></td>
							<td>
								<div class="print-file-options">
									<% if (p.local_filename) { %>
										<div class="loading-button">
											<a class="trash" href="#" onclick="home_delete_print_file_clicked(this); return false" data-id="<%= p.id %>" data-local-name="<%= p.local_filename %>">
												<i class="icon-trash" title="Remove from device"></i>
											</a>
											<button class="success tiny radius" onclick="home_print_print_file_clicked(this)" data-filename="<%= p.local_filename %>">
												<i class="icon-print"></i> Print &gt;
											</button>
											<span class="loading button tiny disabled success radius"><i class="icon-spin1 animate-spin"></i> Sending...</span>
										</div>
									<% } else { %>
										<a href="#" onclick="home_download_print_file_clicked(this); return false" data-id="<%= p.id %>" >
											<i class="icon-download" title="Download"></i>
										</a>
									<% } %>
								</div>
								<div class="progress round tiny" style="display:none">
									<div class="meter" style="width: 0%"></div>
								</div>
							</td>
						</tr>
					<% });
				}
			}); %>
			</tbody>
		</table>
	<% } else { %>
		<div class="empty panel radius" align="center">
			<i class="icon-inbox empty-icon"></i>
			Nothing here yet.
		</div>
	<% } %>
</script>