<html>
<head>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>AstroBox&trade;</title>
	{% assets filters="scss", output="css/gen/main.css", "css/scss/main.scss", "css/scss/control.scss", "css/scss/sprites.scss" %}
  	<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
	{% endassets %}
</head>
<body>
	<div class="contain-to-grid">
		<nav class="top-bar" data-topbar>
		  <ul class="title-area">
		    <li class="name">
		      <h1><img src="/img/astroprint-logo_tm.png"/></h1>
		    </li>
		  </ul>
		  <section class="top-bar-section">
		  	<div class="right">
		  		Connected
		  	</div>
		  </section>
		</nav>
	</div>
	<div id="main">
		<div class="row">
			<div id="view-container" class="small-12 columns">
				<div id="control-view">
					{% include 'control.jinja2' %}
				</div>
			</div>
			<ul id="bottom-menu">
		  	<li><button class="success"><div class="house_icon"></div></button></li>
		  	<li><button class="success active"><div class="control_icon"></div></button></li>
		  	<li><button class="success"><div class="gear_icon"></div></button></li>
			</ul>
		</div>
	</div>
	{% assets filters="closure_js", output="js/gen/packed.js", 
		"js/lib/jquery.js", "js/lib/underscore.js", "js/lib/backbone.js", "js/lib/foundation/foundation.js",
		"js/app/views/control.js",
		"js/app/app.js" -%}
    	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{%- endassets %}
  <script type="text/javascript">
    $(document).foundation();
  </script>
</body>
</html>