{% extends 'base.jinja2' %}

{% block css %}
	{% assets filters="scss", output="css/gen/login.css", 
		"css/scss/login.scss" %}
		<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
	{% endassets %}
{% endblock %}

{% block content %}
<div id="login-view" class="row">
	<div class="small-12 medium-10 large-6 medium-centered large-centered columns" align="center">
		<div class="login-container">
			<form data-abide="ajax">
				<img src="/img/astroprint-logo_tm.png"/>
				<div data-alert class="alert-box alert radius" style="display:none"></div>
				<div class="input-wrapper">
					<label> Email
						<input type="email" name="email" class="radius" required pattern="email"/>
					</label>
					<small class="error">A valid email address is needed.</small>
				</div>
				<div class="input-wrapper">
					<label> Password
						<input type="password" name="password" class="radius" required/>
					</label>
					<small class="error">Please provide a password.</small>
				</div>
				<div class="loading-button signin">
					<button class="success radius">Sign in</button>
					<span class="loading button disabled success radius"><i class="icon-spin1 animate-spin"></i> Signing in...</span>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		var UI_API_KEY = "{{ uiApiKey }}";
		var BASEURL = "{{ url_for('index') }}";
		var API_BASEURL = BASEURL + "api/";
	</script>
	{% assets filters="closure_js", output="js/gen/login.js", 
		"js/lib/jquery.js", "js/lib/underscore.js", "js/lib/backbone.js", "js/lib/foundation/foundation.js", "js/lib/foundation/foundation.abide.js",
		"js/app/views/login.js" -%}
			<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{%- endassets %}
	<script type="text/javascript">
		$(document).foundation();
	</script>
{% endblock %}