<div class="row">
	<div class="small-12 columns" align="center">
		<h1 class="bold"> Printing </h1>
		<button class="alert radius stop-print">STOP PRINT</button>
		<button class="radius pause-print">PAUSE PRINT</button>
	</div>
</div>