<h1 class="bold" align="center">Settings</h1>
<div class="row">
	<div class="small-12 columns">
		<center>
			<button class="radius upgrade">Upgrade Software</button><br/>
			<div class="loading-button hotspot">
				<button class="radius">Create hotspot</button>
				<span class="loading button disabled radius">
					<i class="icon-spin1 animate-spin"></i> Creating Hotspot...
				</span>
			</div>
			<div class="loading-button connect">
				<button class="radius">Connect to Wifi</button>
				<span class="loading button disabled radius">
					<i class="icon-spin1 animate-spin"></i> Connecting to Wifi...
				</span>
			</div>
		</center>
	</div>
</div>