#turnoff-view {
	padding-top: 100px;

	.icon-off {
		display: inline-block;
		font-size: rem-calc(90);
		color: $alert-color;
		margin-bottom: 30px;
	}

	.done {
		display: none;
	}

	&.done {
		.loading {
			display: none;
		}

		.done {
			display: inherit;
			color: $success-color;
		}
	}
}