@import "foundation/components/block-grid";
@import "foundation/components/progress-bars";

.task-main{
  //height: calc(100vh - 180px);
  //background: #333333;
  //position: relative;
  //background: #ffffffab;
  background:rgba(244, 100, 35, 0.1);
  border-radius: 4px;
  min-height:75vh;
  //box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.05);

  .padding-top{
    padding-top: 10px;
  }

  .buttons{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  .repeat{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(34, 34, 34, 0.85);
    font-size: 2rem;
    border: 3px solid $jet;
  }

  .progress{
    height: 0.4rem;
    margin: 0;
    padding: 0;

    .meter{
      background: $orange;
    }
  }

  .step-description{
    padding: 5px 0.9375rem;

    p{
      margin-top: 5px;
      margin-bottom: 10px;
      line-height: 125%;
    }
  }

  #img-app {
    width: 100%;
    height: 40vh;
    margin: 0 auto;
    position: relative;

    img{
      display: block;
      max-height: 64vh;
      margin: 0 auto;
   }
  }

  #step-counter{
    .current{
      width: 20px;
      height: 20px;
      border-radius: 100%;
      font-size: 14px;
      background: $oil;
      text-align: center;
      display: inline-block;
      color: $white;
    }

    .total{
      @extend .current;
      background: transparent;
      color: $oil;
    }
  }
}

#additional-task {
  font-size: 2rem;
  color: #333;
  padding: 28px;
  img {
    width: 30%;
    margin-top: 65px;
  }
}
.no-connection-overlay {
  display: none;
  html.no-printer & {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    color: white;
    text-align: center;
    font-size: rem-calc(30);
    border-radius: 3px;
    padding: 5px;

    i {
      font-size: rem-calc(80);
      display: block;
    }
  }
}


.additional-task-row{

  /*.title-heading{
    margin: 0;
    border: 0;
  }*/

  .extruder-selector{
    padding-top: 6%;

    #extruder-count{
      background: url("/img/icon-extruder-active.svg") bottom no-repeat;
      background-size: 90%;
      max-width: 100px;
      font-size: 35px;
      outline: 0;
      margin: 0 auto;
      height: 85px;
      width: auto;
      min-width: 85px;
      text-align-last: center;
      color: $white;
      border: 0;
    }
  }


}
