@import "foundation/components/block-grid";


#additional-task-app-container {
  #img-app {
    margin: 0 auto;
  }
}
#additional-task {
  font-size: 2rem;
  color: #333;
  padding: 28px;
  img {
    width: 30%;
    margin-top: 65px;
  }
}
.no-connection-overlay {
  display: none;
  html.no-printer & {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: rgba(0,0,0,0.7);
    color: white;
    text-align: center;
    font-size: rem-calc(30);
    border-radius: 3px;
    padding: 5px;

    i {
      font-size: rem-calc(80);
      display: block;
    }
  }
}


.additional-task-row{

  #extruder-count{
    background: url("/img/icon-extruder-active.svg") bottom no-repeat;
    background-size: 90%;
    max-width: 100px;
    font-size: 35px;
    outline: 0;
    margin: 0 auto;
    height: 85px;
    width: auto;
    min-width: 85px;
    text-align-last: center;
    color: $white;
  }

}
