#camera-view {
	div.nowebrtc,
	div.error,
	div.video-preparing {
		display:none;
	}
	
	.camera-view {
	    .video-container {
	        min-height: 400px;
	        border: 1px solid $iron;
	        border-bottom: none;
	        background: $oil;
	        margin-top: 60px;
	        @include radius($global-radius $global-radius 0 0);
	
	        .video-off, .no-detection {
	            text-align: center;
	            padding-top: 75px;
	        }
	
	        i {
	            font-size: rem-calc(100);
	            color: $base;
	        }
	
	        h3 {
	            color: $base;
	        }
	
	    }
	
	    .buttons {
	        background: $ghost;
	        border: 1px solid $iron;
	        border-top: none;
	        padding: rem-calc(15);
	        margin-bottom: rem-calc(15);
	        @include radius(0 0 $global-radius $global-radius);
	
	        button, .button {
	            margin-bottom: 0;
	            width: 100%;
	        }
	    }
	    
	    .video-on {
	    	display:none;
	    }
	}
	
	&.preparing {
		.video-preparing {
			display:block;
		}
		
		.video-off {
			display:none;
		}
		
		.video-on {
    		display:none;
    	}
	}
	
    &.nowebrtc {
    	div.video {
    		display:none; 
    	}
    
		div.nowebrtc {
			display: block;
		}
    }
    
    &.error {
    	div.video {
    		display:none; 
    	}
    
		div.error {
			display: block;
		}
    }
    
    &.streaming {
    	.video-preparing{
    		display:none;
    	}
    	
    	.video-off {
    		display:none;
    	}
    	
    	.video-on {
    		display:block
    	}
    }
}
