html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
	background: url('/img/subtle_dots_v1.png');
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;

  .can-select {
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
}

b,
strong,
.bold {
  font-family: "nexa_boldregular", Helvetica, Arial, sans-serif;
}

.reveal-modal-bg {
	position: fixed;
}

.reveal-modal {
  padding: 0;

  h2 {
    width: 100%;
    text-align: center;
    background-color: $success-color;
    color: white;
    font-size: rem-calc(22);
    padding: 15px 40px;
    margin: 0;
  }

  .modal-body {
    margin: 10px $column-gutter;

    p {
      text-align: left;
    }
  }

  .close-reveal-modal {
    color: white;
  }

  .modal-content {
    padding: 20px;
  }

  .modal-actions {
    padding: 0px 20px;
  }
}
