html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
	background: url('/img/subtle_dots_v1.png');
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;

  .can-select {
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
}

b,
strong,
.bold {
  font-family: "nexa_boldregular", Helvetica, Arial, sans-serif;
}

.reveal-modal-bg {
	position: fixed;
}
