#xy-controls,
#z-controls  {
	margin-bottom: 20px;

	button {
		display: inline-block;
		margin-bottom: 0;
		border: 0;
		background-color: transparent;

		&:hover, &:active {
			background-color: transparent;
		}
	}
}

#xy-controls {
	.control_bg_xy {
		position: relative;
		display: inline-block;


		button {
			position: absolute;
			&.home_z {
				top: 70px;
				left: 50%;
				margin-left: -34px;
				transform: rotateX(30deg);
			}

			&.control_btn_x_plus {
				top: 40px;
				right: 30px;
			}

			&.control_btn_x_minus {
				top: 40px;
				left: 30px;
			}

			&.control_btn_y_minus {
				bottom: 0px;
				left: 50%;
				margin-left: -66px;
			}

			&.control_btn_y_plus {
				top: 5px;
				left: 50%;
				margin-left: -52px;
			}
		}
	}
}

#z-controls {
	button.home_z {
		margin: 30px 0;
	}
}

#control-view {
	h1 {
		background: #fafafa url("/img/subtle_zebra_3d.png") 0 0 repeat;
		border-bottom: 1px solid #ccc;
		font-size: rem-calc(25);
		margin: 0 0 10px 0;
	}

	h2 {
		font-size: rem-calc(20);
	}

	.back-to-print {
		display: none;
	}

	&.print-paused {
		.back-to-print {
			display: block;
			margin-top: 10px;

			button {
				margin: 0;
			}

			.filename {
				font-size: rem-calc(17);
				line-height: 1.5em;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}

		#z-controls {
			button.home_z {
				opacity: 0.1;
				cursor: not-allowed;
			}
		}

		#xy-controls {
			button.home_z {
				opacity: 0.1;
				cursor: not-allowed;				
			}
		}
	}
}

#distance-control {
	margin-top: 20px;

	ul {
		display: inline-block;
		padding: 0;
		li button {
			margin-bottom: 0;
			font-size: rem-calc(25);
		}
	}
}

#temp-control {
	.current-temp-top {
		text-align: center;
		margin-bottom: 10px;
		font-size: rem-calc(60);
		color: $alert-color;
	}

	.temp-control-cont {
		max-width: 110px;

		&.disabled {
			.temp-bar {
				background: #ccc;
			}

			.temp-target, 
			.current-temp {
				display: none;
			}

			.current-temp-top {
				color: #ccc;
			}
		}
	}

	.temp-bar {
		height: 356px;
		background: url(/img/temp_gradient.png) repeat-x;
		position: relative;
		margin-bottom: 19px;

		.temp-target {
			position: absolute;
			left: -5%;
			top: 20px;
			background-color: #505050;
			text-align: center;
			color: white;
			width: 110%;
			font-size: rem-calc(20);
			border-radius: $global-radius;
			cursor: pointer;

			a.temp-edit {
				padding: 10px 0;
				text-align: center;
				width: 30%;
				display: inline-block;
				border-right: 1px solid #a5a5a5;
				color: white;
				float: left;
			}

			span.label {
				padding: 10px 0;
				width: 70%;
				display: inline-block;
				float: right;
			}

			input {
				margin-top:5px;
				text-align: center;
				display: inline-block;
				background: transparent;
				color: white;
				border: none;
				width: 65%;
				box-shadow: none;
				font-size: rem-calc(20);
				margin-bottom: 0px;

				&::-webkit-inner-spin-button, 
				&::-webkit-outer-spin-button { 
				  -webkit-appearance: none; 
				  margin: 0; 
				}
			}

			&.moving {
				background-color: lighten(#505050, 20%);
			}
		}

		.current-temp {
			position: absolute;
			left: -5%;
			height: 6px;
			top: 100px;
			background-color: #505050;
			width: 110%;
			transition: top 0.5s;
			-webkit-transition: top 0.5s;
			-moz-transition: top 0.5s;

			.triangle_left {
				position: absolute;
				left: -8px;
				top: -6px;
			}

			.triangle_right {
				position: absolute;
				right: -8px;
				top: -6px;
			}

		}

		label {
			text-align: center;
			color: white;
			position: absolute;
			bottom: 0px;
			padding: 5px;
			left: 0;
			width: 100%;
			font-size: rem-calc(28);
		}
	}

	.fan-control,
	.temp-control-cont {
		text-align: center;
	}

	.fan-control-push {
		font-size: rem-calc(17);
		padding-top: 17px;
		height: 348px;
	}

	.fan-control {
		h2 {
			margin-bottom: 20px;
		}

		.fan_icon {
			display: inline-block;
			vertical-align: middle;
			margin-left: 5px;
		}
	}
}

#extrusion-control {
	margin-top: 29px;

	.columns {
		&.padded-top {
			padding-top: 21px;
		}
	}

	label {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: $warning-color;
		font-size: 14px;
		text-align: center;
	}

	h2 {
		margin: 0;
		font-size: rem-calc(30);
	}

	i.icon-extruder {
		font-size: 40px;
		color: $success-color;
		display: inline-block;
		margin-top: -4px;
	}

	input, select, .postfix {
		height: 45px;
	}

	.postfix {
		padding-top: 3px;
	}

	input {
		padding: 0 5px;
		font-size: rem-calc(20);
		width: 100%;
	}
}

@media #{$medium-up} {
	#extrusion-control {
		button {
			margin-top: 21px;
		}
	}

	.row.closer {
		.columns {
			padding: 0 5px;
		}
	}
}

@media #{$large-up} {
	#control-view {
		h1 {
			@include side-radius(bottom);
			border: 1px solid #ccc;
			border-top: none;
			padding: 5px 0;
		}
	}
}