
.controls-container{
  margin-bottom: 0px;
  @include radius($global-radius);
  background: #fafafa;
}

#xy-controls,
#z-controls  {
	margin-bottom: 20px;

	button {
		display: inline-block;
		margin-bottom: 0;
    position: relative;
    background: $oil;
    box-shadow: 0 10px darken($oil, 40%);
    padding: 0;
    width: 66px;
    height: 56px;
    border-radius: 8px;

		&:hover{
      background-color: lighten($oil,5%);
    }

    &:active {
      background-color: darken($oil,10%);
      top: 47px !important;
      box-shadow: none;
    }
	}
}

#xy-controls {
	.control_bg_xy {
		position: relative;
    perspective: 500px;
    perspective-origin: 50% 50%;
    width: 100%;
    height: 200px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > *{
      -webkit-transform: rotateX(40deg); /* Chrome, Safari, Opera */
      transform: rotateX(40deg);
    }

		button {
      position: absolute;
      width: 66px;
      height: 66px;
      border-radius: 5px;

			&.home_z {
				top: 70px;
        height: 36px;
        width: 50px;

        &:active{
          top: 77px !important;
        }
			}

			&.control_btn_x_plus {
				top: 40px;
				right: 30px;
			}

			&.control_btn_x_minus {
				top: 40px;
        left: 30px;
        i:before{
          transform: rotate(-180deg);
        }
			}

			&.control_btn_y_minus {
				bottom: 25px;
          i:before{
            transform: rotate(90deg);
          }
			}

			&.control_btn_y_plus {
				top: 5px;
          i:before{
            transform: rotate(-90deg);
          }

          &:active{
            top: 12px !important;
          }
			}
		}
  }

  .bed-mesh{
    width: 70%;
    height: 87%;
    border: 2px solid #e0e0e0;
    position: absolute;
    z-index: -1;
    top: 0;
    background: rgba(66, 66, 66, 0.04) url(/img/mesh-backg.svg) right no-repeat;
    background-size: 300px;
  }
}

#z-controls {
	button.home_z {
    margin: 20px 0;
    height: 36px;
    width: 50px;
  }

  .control_btn_z_plus i:before{
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
  }

  .control_btn_z_minus i:before{
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
  }

  button{
    &:active {
      background-color: darken($oil,10%);
      top: 12px !important;
      box-shadow: none;
    }
  }
}

#control-view {
  :focus{
    outline: 0;
  }

	h1 {
		background: #fafafa url("/img/subtle_zebra_3d.png") 0 0 repeat;
		border-bottom: 1px solid #ccc;
		font-size: rem-calc(25);
		margin: 0 0 10px 0;
	}

	h5 {
    color: darkgray;
    margin-top: 15px;
	}

	.back-to-print {
		display: none;
	}

	&.print-paused {
		.back-to-print {
			display: block;
			margin-top: 10px;

			button {
				margin: 0;
			}

			.filename {
				font-size: rem-calc(17);
				line-height: 1.5em;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}

		#z-controls {
			button.home_z {
				opacity: 0.1;
				cursor: not-allowed;
			}
		}

		#xy-controls {
			button.home_z {
				opacity: 0.1;
				cursor: not-allowed;
			}
		}
	}

  .no-connection-overlay {
    display: none;

    html.no-printer & {
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(0,0,0,0.7);
      color: white;
      text-align: center;
      font-size: rem-calc(30);
      border-radius: 3px;
      padding: 5px;

      i {
        font-size: rem-calc(80);
        display: block;
      }
    }
  }

  .heading-box{
    background: $oil;
    padding: 8px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.5px;
  }

}

html.no-printer {
  .no-connection-overlay {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
    color: white;
    text-align: center;
    font-size: rem-calc(30);
    border-radius: 3px;
    padding: 5px;

    i {
      font-size: rem-calc(80);
      display: block;
    }
  }
}

#distance-control {
	margin-top: 20px;

	ul {
		display: inline-block;
		padding: 0;
		li button {
			margin-bottom: 0;
			font-size: rem-calc(20);
		}
	}
}


#temp-control-template {
  .extruders {
    @include radius($global-radius);
    color: #ccc;
    background: #fafafa;
    padding-bottom: 15px;
    height: 295px;
    margin-bottom: 0;

    .slick-arrow {
      font-size: 40px;
      padding-bottom: -20px;
    }

    .slick-disabled {
      opacity: 0;
      pointer-events:none;
    }

    .slick-dots {
      top: 0;
      left: 0;
      height: 36px;
      font-family: "nexa_boldregular", Helvetica, Arial, sans-serif;

      li{
        margin: 0;
        width: initial;
        height: initial;

        a{
          background:url(/img/icon-extruder.svg) center no-repeat !important;
          padding: 2px 15px 10px 15px;
          color:$oil;
        }

        &.slick-active a{
          background:url(/img/icon-extruder-active.svg) center no-repeat !important;
          color: white;
          padding: 5px 18px 14px 18px;
        }

        button:before {
          font-size: 16px;
        }
      }

    }

    .icon-angle-left {
      z-index: 9999;
      position: absolute;
      top: 30px;
      left: 0;
    }

    .icon-angle-right {
      position: absolute;
      top: 5px;
      right: 0;
      z-index: 9999;
    }

    .semi-circle-temps .temp-container .graphic-container .circle-container{
      margin-top: 60px;
    }
  }
  .bed {
    padding-bottom: 15px;
    @include radius($global-radius);
    color: #ccc;
    background: #fafafa;

    img{
      height: 27px;
    }
  }
  .temp-subheading{
    padding:5px 20px;
    letter-spacing: 1px;
    background: #fafafa;
    font-size: 14px;
  }
}

#fan-control {
  .fan-control {
    margin-top: 29px;
  }

  .fan-control {
    h2 {
      margin-bottom: 20px;
    }

    .fan_icon {
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
    }
  }
}

#extrusion-control {
	margin-top: 29px;

	.columns {
		&.padded-top {
			padding-top: 21px;
		}
	}

	label {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: $warning-color;
		font-size: 14px;
		text-align: center;
	}

	h2 {
		margin: 0;
		font-size: rem-calc(30);
	}

	i.icon-extruder {
		font-size: 25px;
		color: $success-color;
	}

	input, select, .postfix {
		height: 45px;
	}

	.postfix {
		padding-top: 3px;
	}

	input {
		padding: 0 5px;
		font-size: rem-calc(20);
		width: 100%;
	}
}

@media #{$medium-up} {
	#extrusion-control {
		button {
			margin-top: 21px;
		}
	}

	.row.closer > .columns {
		padding: 0 5px;
	}
}

@media #{$large-up} {
	#control-view {
		h1 {
			@include side-radius(bottom);
			border: 1px solid #ccc;
			border-top: none;
			padding: 5px 0;
		}
	}
}
