#files-view {
  .list-header {
    h3 {
      display: inline-block;
      font-size: rem-calc(20);
      padding-right: 10px;
      padding-top: 10px;
      margin: 0;
      vertical-align: middle;
    }

    ul.storage {
      a.button.active {
        background: $alert-color;
        color: white;
      }
    }
  }

  .file-upload-view {
    position: relative;

    input[type=file] {
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }

  .upload-progress {
    .progress-message {
      font-size: rem-calc(18);
      color: $success-color;
    }

    .meter {
      transition: width 1s;
    }
  }

  .design-list {
    .local-loading {
      display: none;

      &.loading {
        display: block;
        margin: 15px 0;
        font-size: rem-calc(30);
      }
    }
  }

  .design-list-container {
    margin-bottom: 55px;

    .row {
      position: relative;
      background-color: white;
      cursor: pointer;

      &.remote {
        .left-section {
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }
        }

        .right-section {
          a {
            color: $info-color;
          }
        }
      }

      &.dark {
        background-color: #fafafa;
      }

      .left-section {
        transition: opacity 0.5s;
        padding: 10px 0 10px 5px;
        font-size: rem-calc(45);
        color: #a5a5a5;
        padding-right: 10px;

        .thumb-container {
          position: relative;
          height: 0;
          padding-top: 65%;
          overflow: hidden;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border-radius: $global-radius;
          }
        }
      }

      .print-file-options {
        position: relative;
        height: 67px;

        .download-progress,
        .download-failed {
          display: none;
        }

        &.downloading {
          .download-progress {
            display: block;
            position: absolute;
            top: 5px;
            bottom: 0;
            left: 0;
            right: 5px;

            .dw-cancel {
              color: $alert-color;
              position: absolute;
              top: 28px;
              left: 0;
              right: 0;
              text-align: center;
              font-size: rem-calc(20);
            }

            span {
              position: absolute;
              top: 14px;
              left: 0;
              right: 0;
              text-align: center;
              font-size: rem-calc(12)
            }
          }

          .download {
            display: none;
          }
        }

        &.failed {
          .download-failed {
            display: block;
            i {
              color: $alert-color;
            }
          }

          .download {
            display: none;
          }
        }
      }

      .middle-section {
        padding: 10px 0;
        font-size: rem-calc(18);
        color: #a5a5a5;

        h3 {
          line-height: 1.2em;
          font-size: rem-calc(22);
          color: $success-color;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 0 0 5px 0;
        }
      }

      .right-section {
        padding: 10px 0;
        font-size: rem-calc(45);
        text-align: center;

        a {
          color: $success-color;
        }
      }
    }

    .empty {
      color: #ccc;
      font-size: rem-calc(45);

      h3 {
        color: #ccc;
        font-size: rem-calc(45);
        line-height: 1.3em;
      }

      .empty-icon {
        display: block;
        margin: 15px 0;
      }
    }
  }
}

#print-file-info {
  .modal-content {
    .photo-container {
      position: relative;
      height: 0;
      padding-top: 100%;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: $global-radius;
      }
    }

    .actions {
      text-align: center;
      position: relative;
      margin: 7px 0;

      a {
        color: $body-font-color;

        &:hover,
        &:active {
          color: $success-color;

          &.remove {
            color: $alert-color;
          }
        }

        &.delete {
          color: $alert-color;
        }
      }

      i {
        font-size: rem-calc(70);
        padding: 0 10px;

        &.with-separator {
          border-right: 2px solid #ccc;
        }
      }
    }

    .print-settings {
      font-size: rem-calc(16);

      .label {
        font-size: rem-calc(16);
        i.icon-link-ext {
          font-size: rem-calc(10);
        }
      }
    }

    .print-info {
      margin-top: 20px;
      line-height: 1.4em;
      font-size: rem-calc(16);

      .hl {
        color: $success-color;
      }
    }
  }
}

@media #{$large-up} {
  #printer-file-info {
    max-width: 900px;
  }
}
