#files-view {
  .list-header {
    background: #fdfdfd;
    padding: 15px 0;
    border-bottom: 3px dashed rgba(108, 201, 195, 0.15);

    button.sync,span{
      box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.15);
      background: $steel;
      margin-bottom: 0;

      &:hover{
        background: darken($steel, 10%);
      }

      &:active{
        transform: scale(0.95);
        outline: 0;
      }

      &:focus{outline: 0;}
    }
    .loading-button{
      float: left;
    }
    .icon-refresh{
      display: block !important;
      margin-bottom: 0;
      margin: 0 auto;
      font-size: 20px;
      width: 28px;
      height: 20px;
      margin-bottom: 4px;
    }
    h3 {
      display: inline-block;
      font-size: rem-calc(20);
      padding-right: 7px;
      padding-top: 20px;
      margin: 0;
      vertical-align: middle;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      margin-left: 10px;
      font-size: 14px;
      color: $base;
      float: left;
    }

    ul.storage {
      li{
      padding: 0 3px;

        a.button{
          color: $base;
          letter-spacing: 1px;
          background: transparent;
          border-left: 0;
          border: 2px solid #e2e2e2;
          margin-bottom: 0;
          margin-top: 10px;
          transition: all 300ms ease;
          font-size: 12px;
          padding-left: 0;
          padding-right: 0;

          &:hover{
            transform: scale(1.05);
          }
          &.active {
            color: $primary-color;
            border-color: $primary-color;
            position: relative;
          }
        }

      }
    }

    .USB{
      div.no-user{
        display: block
      }
    }

    .internal{
      div.no-user{
        display: none
      }
    }

    .cloud{
      div.no-user{
        display: none
      }
    }

  }


  .file-upload-view {
    position: relative;

    .file-upload-button{
      letter-spacing: 1px;
      box-shadow: inset 0 -5px 0 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: inset 0 -5px 0 0px rgba(0, 0, 0, 0.15);
      margin-top: 15px;
      margin-bottom: 0;

      span{color: rgba(253, 253, 253, 0.7);}

      &:active{
        box-shadow: inset 0 -4px 0 0px rgba(0, 0, 0, 0);
        -moz-box-shadow: inset 0 -5px 0 0px rgba(0, 0, 0, 0.15);
      }
    }

    input[type=file] {
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }

  .upload-progress {
    .progress-message {
      font-size: rem-calc(18);
      color: $success-color;
    }

    .meter {
      transition: width 1s;
    }
  }

  .design-list {
    .local-loading {
      display: none;

      &.loading {
        display: block;
        margin: 15px 0;
        font-size: rem-calc(30);
      }
    }
  }

  .design-list-container {
    margin-bottom: 55px;

    .div-container{
      position: relative;
      overflow: hidden;
    }

    >div{clear: both;}

    .inside{
      background: $iron;

      .icon-folder-empty{
        display: none;
      }
      .icon-folder-open-empty,.icon-folder-empty{
        color: $yellow;
        font-size: rem-calc(36);
      }

      &:hover{
        background: lighten($yellow, 20%) !important;

        .icon-folder-empty{
          display: block;
        }

        .icon-folder-open-empty{
          display: none;
        }
      }

    }

    .icon-back{
      font-size: 30px;
      position: absolute;
      top: 0;
      left: 40px;

      &:before{margin: 0;}
    }

    .inside-folder{
      .loading-content{
        position: absolute;
        width: 100%;
        top: 0;
        padding: 0;
        left: 0;

        .progress-number{font-size: 18px;}

        .progress{
          height: 6px;
          margin: 0;
          padding: 0;
          max-width: 70%;
          margin: 0 auto;
          background: rgba(240, 82, 81, 0.4);
        }
      }
    }

    .row {
      position: relative;
      background-color: #fdfdfd;
      cursor: pointer;
      //padding: 2px 0;
      margin-bottom: 3px;

      &.remote {
        .left-section {
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }
        }

        .right-section {
          a {
            color: $info-color;
          }
        }
      }

      .left-section {
        transition: opacity 0.5s;
        font-size: rem-calc(40);
        color: #a5a5a5;
        padding-right: 0;

        img.noimage {
          vertical-align: middle;
          border-radius: $global-radius;
          padding-bottom: 3px;
          background: $charcoal;
          max-width: 100px;
        }

        .thumb-container {
          position: relative;
          overflow: hidden;
          text-align: center;

          img {
            vertical-align: middle;
            max-height:65px;
            border-radius: $global-radius;
          }
        }
      }

      .print-file-options {
        position: relative;
        min-height: 60px;
        color: $steel;

        .download-progress,
        .download-failed, .loading button {
          display: none;
        }

        &.downloading {
          .download-progress {
            display: block;
            //position: absolute;
            //top: 3px;
            //right:0;
            margin: 0 auto;
            max-height: 63px;
            padding-top: 4px;

            canvas{
              width: 55px !important;
              height: 55px !important;
            }

            .dw-cancel {
              color: $alert-color;
              position: absolute;
              top: 20px;
              left: 0;
              right: 0;
              text-align: center;
              font-size: rem-calc(28);
            }

            span {
              position: absolute;
              top: 12px;
              left: 0;
              right: 0;
              text-align: center;
              font-size: rem-calc(12)
            }
          }

          .download {
            display: none;
          }
        }

        &.failed {
          .download-failed {
            display: block;
            i {
              color: $alert-color;
            }
          }

          .download {
            display: none;
          }
        }

        button{
          letter-spacing: 1px;
          border: 2px solid;
          color: $base;
          background: transparent;
          vertical-align: middle;
          display: inline-block;
          margin: 0;

          &.eject{
            vertical-align: middle;
          }

          &.print{
            border: 0;
            font-size: rem-calc(44);
            padding: 0;
            color: $primary-color;
            max-width: 50%;
            width: auto;
            vertical-align: middle;

            &::before{margin: 0;}

            &:hover{
              border: 0;
            }
          }

          &:hover{
            color: $white;
            background: $steel;
            border: 2px solid $steel;
          }

          &:active{
            outline: 0;
            color: $white;
            background: darken($steel, 40%);
            border: 2px solid darken($steel, 40%);
            transform: scale(0.95);
          }

          &:focus{
            outline: 0;
          }
        }
      }

      .middle-section {
        font-size: rem-calc(14);
        color: #a5a5a5;
        min-height: 60px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .info-container h3{top: initial !important;}

        .info{
          letter-spacing: 1px;
          text-transform: uppercase;
          padding-top: 24px;

          i{margin-left: 4px;}

          b span{
            line-height: 18px;
            position: relative;
            top: 2px;
            font-size: 22px;
            color: $base;
          }
        }

        h3{
          font-size: rem-calc(17);
          color: $success-color;
          margin: 0;
          display: block;
          position: absolute;
          //transform: translateX(0);
          transition: all 1s ease;
          transition-delay: 500ms;
          //max-width: 650px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          top: 34%;
        }

        .slide-text{
          width: auto;
          transition: all 7s ease;
          transition-delay: 1s;
          //transform: translateX(-90%);
          white-space: nowrap;
          overflow: visible;
          text-overflow: initial;
          max-width: initial;
          -webkit-animation-name: slide;
          -webkit-animation-duration: 15s;
          animation-name: slide;
          animation-duration: 15s;
          animation-direction: alternate;
          animation-iteration-count: infinite;
        }
      }

      @keyframes slide {
        from {transform:TranslateX(0%);}
        to {transform:TranslateX(-90%);}
      }

      .right-section {
        font-size: rem-calc(42);
        text-align: center;
        padding-left: 0;

        a {
          color: $success-color;
        }
      }

      &:active{
        background: $ghost;
        //transform: scale(0.95);
      }

      &:hover{
        background: lighten($primary-color, 36%);
      }
    }

    .empty {
      color: $ghost;
      font-size: rem-calc(45);
      box-shadow: inset -2px -2px 2px hsla(0, 0%, 0%, 0.1);
      border-top: 0;

      h3 {
        color: #ccc;
        font-size: rem-calc(45);
        line-height: 1.3em;
      }

      .empty-icon {
        display: block;
        margin: 15px 0;
      }
    }
  }
}


#print-file-info {
  .modal-content {
    .photo-container {
      position: relative;
      height: 0;
      padding-top: 100%;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: $global-radius;
      }
    }

    .actions {
      text-align: center;
      position: relative;
      margin: 7px 0;

      a {
        color: $body-font-color;

        &:hover,
        &:active {
          color: $success-color;

          &.remove {
            color: $alert-color;
          }
        }

        &.delete {
          color: $alert-color;
        }
      }

      i {
        font-size: rem-calc(70);
        padding: 0 10px;

        &.with-separator {
          border-right: 2px solid #ccc;
        }
      }
    }

    .print-settings {
      font-size: rem-calc(16);

      .label {
        font-size: rem-calc(16);
        i.icon-link-ext {
          font-size: rem-calc(10);
        }
      }
    }

    .print-info {
      margin-top: 20px;
      line-height: 1.4em;
      font-size: rem-calc(16);

      .hl {
        color: $success-color;
      }
    }
  }
}

.dlg-content{

  button{width: 100%;}

  .close-reveal-modal{
    font-size: 65px;
    position: absolute;
    top: 0;
    color: $steel;
  }
}

#external-removed-warning-dlg {
  i.icon-attention {
    color: $alert-color;
    font-size: 50px;
  }
}

@media #{$large-up} {
  #printer-file-info {
    max-width: 900px;
  }
}

@media #{$small-only} {
  .list-header{

    .loading-button {
      width: 100%;

      button{width: 100%;}
    }
  }

}
