@charset "utf-8";

@font-face {
  font-family: 'fontello';
  src: url('/font/fontello.eot?19938964');
  src: url('/font/fontello.eot?19938964#iefix') format('embedded-opentype'),
       url('/font/fontello.woff2?19938964') format('woff2'),
       url('/font/fontello.woff?19938964') format('woff'),
       url('/font/fontello.ttf?19938964') format('truetype'),
       url('/font/fontello.svg?19938964#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?19400422#fontello') format('svg');
  }
}
*/


[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-angle-right:before { content: '\21'; } /* '!' */
.icon-angle-left:before { content: '\22'; } /* '&quot;' */
.icon-stop:before { content: '\23'; } /* '#' */
.icon-link-ext:before { content: '\39'; } /* '9' */
.icon-videocam-1:before { content: '\67'; } /* 'g' */
.icon-picture-1:before { content: '\69'; } /* 'i' */
.icon-attention:before { content: '\e800'; } /* '' */
.icon-exchange:before { content: '\e801'; } /* '' */
.icon-rocket-spinner:before { content: '\e802'; } /* '' */
.icon-download-cloud:before { content: '\e803'; } /* '' */
.icon-trash:before { content: '\e804'; } /* '' */
.icon-th:before { content: '\e805'; } /* '' */
.icon-logout:before { content: '\e806'; } /* '' */
.icon-play:before { content: '\e807'; } /* '' */
.icon-pause:before { content: '\e808'; } /* '' */
.icon-stopwatch:before { content: '\e809'; } /* '' */
.icon-off:before { content: '\e80a'; } /* '' */
.icon-camera:before { content: '\e80b'; } /* '' */
.icon-cancel-circled:before { content: '\e80c'; } /* '' */
.icon-cog:before { content: '\e80d'; } /* '' */
.icon-facebook-squared:before { content: '\e80e'; } /* '' */
.icon-upload-cloud-1:before { content: '\e80f'; } /* '' */
.icon-inbox:before { content: '\e810'; } /* '' */
.icon-rocket:before { content: '\e811'; } /* '' */
.icon-temperatire:before { content: '\e812'; } /* '' */
.icon-move:before { content: '\e813'; } /* '' */
.icon-twitter:before { content: '\e814'; } /* '' */
.icon-user:before { content: '\e815'; } /* '' */
.icon-lock:before { content: '\e816'; } /* '' */
.icon-3d-printer:before { content: '\e817'; } /* '' */
.icon-refresh:before { content: '\e818'; } /* '' */
.icon-filament:before { content: '\e819'; } /* '' */
.icon-signal:before { content: '\e81a'; } /* '' */
.icon-right-open:before { content: '\e81b'; } /* '' */
.icon-link:before { content: '\e81c'; } /* '' */
.icon-ok-circled:before { content: '\e81d'; } /* '' */
.icon-wifi-signal-low:before { content: '\e81e'; } /* '' */
.icon-wifi-signal-med:before { content: '\e81f'; } /* '' */
.icon-wifi-signal-high:before { content: '\e820'; } /* '' */
.icon-3d-object:before { content: '\e821'; } /* '' */
.icon-folder:before { content: '\e822'; } /* '' */
.icon-picture:before { content: '\e823'; } /* '' */
.icon-extruder:before { content: '\e824'; } /* '' */
.icon-double-arrow:before { content: '\e825'; } /* '' */
.icon-pencil:before { content: '\e826'; } /* '' */
.icon-calendar:before { content: '\e827'; } /* '' */
.icon-basket:before { content: '\e828'; } /* '' */
.icon-snow:before { content: '\e829'; } /* '' */
.icon-home:before { content: '\e82a'; } /* '' */
.icon-fan:before { content: '\e82b'; } /* '' */
.icon-layers:before { content: '\e82c'; } /* '' */
.icon-clock-1:before { content: '\e82d'; } /* '' */
.icon-puzzle:before { content: '\e82e'; } /* '' */
.icon-plus:before { content: '\e82f'; } /* '' */
.icon-back:before { content: '\e830'; } /* '' */
.icon-eject-alt:before { content: '\e831'; } /* '' */
.icon-print-speed:before { content: '\e832'; } /* '' */
.icon-print-flow:before { content: '\e833'; } /* '' */
.icon-x-axis:before { content: '\e834'; } /* '' */
.icon-y-axis:before { content: '\e835'; } /* '' */
.icon-z-axis:before { content: '\e836'; } /* '' */
.icon-resize-full:before { content: '\e84d'; } /* '' */
.icon-resize-small:before { content: '\e84e'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-lifebuoy:before { content: '\f1cd'; } /* '' */
.icon-usb:before { content: '\f287'; } /* '' */
