#help-view {
  h1 {
    margin: 0;
    img {
      max-width: 250px;
    }
    i {
      color: $alert-color;
      font-size: rem-calc(60);
    }
  }
  .help-link-container {
    @include basic-box($ghost);

    h4 {
      margin-top: rem-calc(25);
      margin-bottom: rem-calc(5);
      color: $charcoal;
    }

    h5 {
      margin-bottom: rem-calc(15);
      color: $charcoal;
    }

    .uppercase {
      text-transform: uppercase;
    }

    ul {
      list-style: none;
      margin-left: 0;

      li {
        padding: rem-calc(15);
        padding-bottom: 0;
        &:first-of-type{
          border-top: $basic-border;
        }
        &:nth-of-type(2){
          border-top: $basic-border;
          border-bottom: $basic-border;
        }
        &.row {
          margin: 0;
        }

        h5 {
          margin: 0;
          padding-top: rem-calc(10);
          padding-bottom: rem-calc(10);
        }

        .button {
          margin-bottom: rem-calc(15);
        }
      }
    }
  }
}
@media #{$small-up} {
  #help-view {
    .button {
      width: 100%;
    }
  }
}
@media #{$large-up} {
  #help-view {
    .button {
      width: initial;
    }
  }
}
