#noty_top_layout_container {
	li {
		text-align: center;
		color: white;
		font-size: rem-calc(25);
		padding: 10px 0;
		@include side-radius('bottom');

		&.noty_container_type_alert {
			background-color: $alert-color;
		}

		&.noty_container_type_success {
			background-color: $success-color;
		}

		&.noty_container_type_information {
			background-color: $primary-color;
		}

		&.noty_container_type_warning {
			background-color: $warning-color;
		}
	}
}