#printing-view {

  .temp-subheading{
    padding-top: 8px;
    box-shadow: 0px 3px 2px 2px rgba(82, 82, 82, 0.04);
  }
  .controls{
    background: $jet;
  }
  h2 {
    font-size: rem-calc(28);
    margin: 0 0 8px 0;
  }

  .bottom-space{
    margin-bottom: 20px;
  }
  .buttons-box{

    button{
      margin-bottom: 10px;
      margin-top: 0;
      letter-spacing: 0.5px;

      &.controls{
        box-shadow: 0 7px black;
        padding-bottom: 10px;

        &:active{
          background-color: #1a1a1a;
          top: 7px !important;
          box-shadow: none;
          position: relative;
        }
      }

      &:focus{
        outline: 0;
      }
    }
  }
  .progress {
    background-color: rgba(240, 82, 81, 0.2);
    position: relative;
    text-align: left;
    height: 15px;
    margin-top: 50px;

    .filename {
      position: absolute;
      top: 13px;
      left: 0;
      color: rgba(0, 0, 0, 0.3);
      font-size: rem-calc(14);
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }

    .progress-label {
      position: absolute;
      right: 0;
      top: -45px;
      font-size: rem-calc(36);
      color: $green;
    }
  }

  .print-info {
    font-size: rem-calc(40);
    margin: 10px 0 0 0;

    .highlighted {
      font-size: rem-calc(40);
      color: $success-color;

      &.layer-count{
        color: $red;
      }
    }

    .info {
      background: $white;
      box-shadow: 0px 1px 2px 2px rgba(82, 82, 82, 0.04);
      min-height: 281px;
      margin-bottom: 20px;

      > div {
        margin: 10px 0;
      }

      h2 {
        font-size: 0.875rem;
        margin-bottom: 0;
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      &.fullscreen{
        opacity: 0;
      }
    }

    .heating {
      display: none;
    }

    .camera-container {
      min-height: 220px;
      position: relative;
      background: $oil;
      overflow: hidden;

      i {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -42px;
        margin-top: -30px;
        font-size: 60px;
        color: #ccc;
      }

      img {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }

    $camera-controls-height: 60px;

    .camera-controls {
      height: $camera-controls-height;
      background: #dfdfdf;

      .loading-button {
        display: block;
        height: 70px;
        width: 70px;
        margin-top: -15px;
      }

      .loading-button {
        .video-off, .video-on {
          i {
            padding: 15px;

            &.icon-rocket-spinner {
              padding: 5px;
            }
          }
        }
      }

      button, .button.loading {
        padding: 0;
        width: 100%;
        height: 100%;
        margin: 0;
      }

      button.take-pic {
        i {
          margin-left: -2px;
          margin-top: 1px;
          display: block;
          font-size: 30px
        }
      }

      .timelapse {
        position: relative;
        height: $camera-controls-height;

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        i {
          font-size: rem-calc(25);
          color: #505050;
          left: 15px;
          position: absolute;
        }

        .dot {
          position: absolute;
          top: 34px;
          left: 10px;
          display: inline-block;
          width: 10px;
          height: 10px;
          background-color: $alert-color;
          @include radius(30px);
        }

        select {
          -moz-appearance: window;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 20px 0 0 25px;
          border: 0;
          background: none;
          color: #505050;
        }

        .no-user & {
          visibility: hidden;
        }
      }

      .button.loading {
        i {
          display: inline-block;
          font-size: 30px;
          margin-top: 16px;
        }
      }

      .camera-mode {
        padding: 0 rem-calc(10) 0 0;

        p {
          color: $charcoal;
          margin: 0;

          i {
            font-size: rem-calc(16);
            margin: 0 4px 0 5px;
            text-shadow: -1px 0 1px $white;

            &.icon-picture-1 {
              margin-left: 0;
            }
          }
        }


        .switch input + label {
          display: block;
          width: 65px;
          height: 28px;
          border: 1px solid #ccc;
          background: $steel;

          &:after {
            height: 20px;
            top: rem-calc(3);
            left: rem-calc(3);
          }
        }

        .switch input:checked + label {

          &:after {
            left: rem-calc(36);
          }
        }
      }
    }
  }

  #temp-control-template {
    margin-bottom: 15px;

    .end{
    }
    .semi-circle-temps {
      .temp-container .buttons-container {
        .temp-target {
          .target {
            left: 3%;
            padding: 0;
          }
          right: 0px;
        }
      }
    }

    .progress-temp-circle {
      left: 0%;
    }

    .extruders {
      height: 250px;
      margin-bottom: 0px;
      box-shadow: 0px 3px 2px 2px rgba(82, 82, 82, 0.04);

      img.icon-bed{display: none;}

      .slick-track{
        margin-top: 74px;
        -webkit-transition: transform 500ms ease !important;
        -moz-transition: transform 500ms ease !important;
        -o-transition: transform 500ms ease !important;
        transition: transform 500ms ease !important;

        .slick-slide{
          -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
          filter: grayscale(100%);
          cursor: pointer;
            .circle-container{
              opacity: 0.5;
              transform: scale(0.75);
              transition: all 500ms ease;
            }

          &:hover{
            transition: all 500ms ease;

              .circle-container{
                opacity: 1;
                transition: all 500ms ease;
              }
          }

          &.slick-current{
            -webkit-filter: initial;
            filter: initial;

            .circle-container{
              transform: scale(0.95);
              opacity: 1;
              transition: all 500ms ease;
            }
          }

            &:focus{
              outline: 0;
            }

        }

      }

      .slick-arrow{
        color: $oil;
        z-index: 9999;
        position: absolute;
        top: -7px;
        cursor: pointer;
        font-size: rem-calc(30);

        &.arrow-disabled {
          opacity: 0 !important;
        }
      }

      .icon-angle-left {
        left: -7px;

        &.slick-disabled{
          opacity: 0.3;
          cursor: not-allowed;
        }
      }

      .icon-angle-right {
        right: -7px;

        &.slick-disabled{
          opacity: 0.3;
          cursor: not-allowed;
        }
      }

      .slick-disabled {
        opacity: 0;
        pointer-events:none;
      }

    }
    .bed {
      height: 250px;
      box-shadow: 0px 3px 2px 2px rgba(82, 82, 82, 0.04);
    }

    .no-bed {
      cursor:not-allowed !important;

      .semi-circle-temps, span,{
        opacity: 0.3;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }

      .current{animation-iteration-count: initial;}

      button[disabled]{
        cursor: not-allowed;
      }

    }
  }

  .temperatures {
    margin-bottom: 30px;

    .temp-bar {
      position: relative;
      height: 50px;
      width: 100%;
      background: url('/img/temp_grad_horiz.png') repeat-y #f54c39;
      background-size: contain;

      &.nozzle {
        margin-bottom: 40px;
      }

      h3 {
        font-size: rem-calc(15);
        position: absolute;
        right: 5px;
        top: -23px;
      }

      label {
        color: white;
        font-size: rem-calc(20);
        position: absolute;
        top: 12px;
        left: 10px;
        width: 75px;
        display: inline-block;
      }

      .temp-current {
        position: absolute;
        top: 12px;
        right: 10px;
        font-size: rem-calc(20);
        color: white;
        width: 50px;
        text-align: right;
        display: inline-block;
      }

      .temp-target {
        @include radius();
        background-color: #505050;
        color: white;
        display: inline-block;
        position: absolute;
        top: -5px;
        height: 60px;
        width: 85px;
        left: 130px;
        text-align: center;
        cursor: pointer;

        a.temp-edit {
          padding: 18px 0;
          text-align: center;
          width: 40%;
          display: inline-block;
          border-right: 1px solid #a5a5a5;
          color: white;
          float: left;
        }

        span.target-value {
          padding: 18px 0;
          width: 60%;
          display: inline-block;
          float: right;
        }

        input {
          margin-top: 12px;
          text-align: center;
          display: inline-block;
          background: transparent;
          padding: 5px 2px;
          color: white;
          border: none;
          width: 55%;
          box-shadow: none;

          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }

        &.moving {
          background-color: lighten(#505050, 20%);
        }
      }

      .temp-curret-line {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 153px;
        width: 4px;
        background-color: #505050;
        transition: left 0.5s;
        -webkit-transition: left 0.5s;
        -moz-transition: left 0.5s;

        .triangle_left {
          position: absolute;
          top: -13px;
          left: -5px;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          transform: rotate(90deg);
        }

        .triangle_right {
          position: absolute;
          bottom: -13px;
          left: -5px;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          transform: rotate(90deg);
        }
      }
    }
  }

  &.heating-up {
    .print-info {
      .heating {
        display: block;
        font-size: rem-calc(40);
        color: $red;
        height: 280px;

        > div {
          padding: 40px 0;
        }

        i.icon-temperatire {
          display: block;
          font-size: rem-calc(70);
        }

        .columns{
          padding-top: 0;
        }
      }

      .info {
        display: none;
      }
    }

    button.pause-print {
      display: none;
    }
  }

  div.video-preparing {
    display:none;
  }

  .camera-view {
    padding: 0;
    margin-bottom: 20px;

    .camera-controls-fullscreen {
      display: none;
    }

    .button-full-screen {
      position: absolute;
      right: 5px;
      top: 8px;
      color: white;
      font-size: 25px;
      z-index: 99 !important;
      cursor: pointer;

      &:hover, &:active{
        transform: scale(1.3);
        transition:all 0.5s ease;
      }

      .icon-attention{
        display: none;
      }
    }

    div.video-error {
      display: none;
    }

    .video-container {
      position: relative;
      min-height: 220px;
      border: 1px solid $iron;
      border-bottom: none;
      background: $oil;
      @include radius($global-radius $global-radius 0 0);

      .video-off,
      .no-detection,
      .video-preparing {
        text-align: center;
        padding-top: rem-calc(25);
      }

      i {
        font-size: rem-calc(80);
        line-height: 1;
        color: $base;
      }

      h3, h4 {
        color: $base;
        margin: 0;
      }
    }

    .video-on {
      display:none;
    }

    &.preparing {
      .video-preparing {
        display:block;
      }

      .video-off {
        display:none;
      }

      .video-on {
        display:none;
      }
    }

    &.error {
      .video-container {
        div.video-text,
        div.video-off {
          display:none;
        }

        div.video-error {
          display: block;
          padding-top: 40px;
          position: absolute;
          top:0;
          left:0;
          width: 100%;
          height: 100%;
          background: url('/img/static.gif');
          i, h3 {
            position: relative;
            color: white;
          }

          .overlay {
            background: rgba(0,0,0,.5);
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    &.streaming {
      .video-preparing {
        display:none;
      }

      .video-off {
        display:none;
      }

      #videoScreen {
        position: absolute;
        top:0;
        width: 100%;
        height: 100%;
      }

      #video-stream {
        width: 100%;
        height: 100%;
        background: black;
      }

      .video-on {
        display:block;

        button {
          background: $base;
          &:hover {
            background: darken($base, 20%);
          }
        }
      }
    }

    &.fullscreen {
      width: 100vw;
      height: 86vh;
      z-index: 999 !important;
      min-height: 381px;
      transition: all 1s ease;
      margin-bottom: 90px;
      position: absolute;
      left: -228px;

      .icon-attention {
        display: block !important;
      }
      .icon-camera {
        display: none !important;
      }

      .camera-controls {
        display: none;
      }

      .camera-controls-fullscreen {
        @extend .camera-controls;
        display: block;
        bottom: -75px !important;
        background: $oil !important;

        .info-container {
          margin-top: -10px;
          color: white;

          .printing-info {
            margin-left: 5px;
            font-size: rem-calc(25);
            .layers-group {
              margin-top: -4px;
            }
          }

          .progress-info-section {
            margin-left: -50px;

            .printfile-info-name {
              color: white;
              top: -30px;
              font-size: rem-calc(20);
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              text-align: left;
              letter-spacing: 0.5px;
              position: absolute;
              left: 0px;
              bottom: 8px;
            }

            .progress {
              background-color: red;
              position: relative;
              text-align: left;
              height: 15px;
              margin-top: 50px;
              margin-bottom:5px;

              .progress-label {
                position: absolute;
                right: 0;
                top: -32px;
                color: #6dc8c2;
                font-size: rem-calc(25);
              }
            }
          }
        }
      }
    }
  }

  .slick-dots {
      padding: 0px 10px;
      top: 0;
      left: 0;
      bottom: initial;
      font-family: "nexa_boldregular", Helvetica, Arial, sans-serif;
      padding-top: 4px;

      li{
        margin: 0;
        width: initial;
        height: initial;
        vertical-align:top;

        a{
          background:url(/img/icon-extruder.svg) center no-repeat !important;
          padding: 2px 15px 10px 15px;
          color:$oil;
          opacity: 0.5;
          text-align: center;
          display: block;
          margin: 0 3px;
        }

        &.slick-active{
          height: 66px;

          a{
            background: url(/img/icon-extruder-active.svg) top no-repeat !important;
            color: white;
            height: 50px;
            font-size: 23px;
            padding:0px 18px 0px 18px;
            opacity: 1;
          }

          .all-temps{
            color: #f05251;
            opacity: 0;
            font-family: "nexa_boldregular", Helvetica, Arial, sans-serif;
          }
        }

      .all-temps{
        font-family: "nexa_lightregular", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
        font-size: 16px;
        height: 24px;
        position: relative;
        display: block;
        top: 2px;
        color: #b9b9b9;
      }

        button:before {
          font-size: 16px;
        }
      }

    }

  #temp-control-template .bed img {
    height: 41px;
    padding-top: 10px;
    margin-bottom: 31px;
  }

}


#cancel-print-modal {
  .reasons {
    h3 {
      margin: 10px 0;
      .icon-ok-circled {
        color: $success-color;
        font-size: rem-calc(35);
      }

      font-size: rem-calc(25);
    }
  }
}
#upgrade-plan{
  .reveal-content img {
    height: 60px;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 10px;
  }
}

@media #{$large-up} {
    .camera-view {
      padding-right: 0 !important;
      padding-left: 0.9375rem !important;
    }

    #printing-view #temp-control-template{
      .end{
        padding-right: 6px;
      }

      .extruders .icon-angle-right {
        right: 20px;
      }
      .extruders .icon-angle-left {
        left: 20px;
      }
    }
}

@media #{$medium-up} {
  #printing-view .temperatures .temp-bar {
    label {
      top: 4px;
      width: 110px;
      font-size: rem-calc(28);
    }

    .temp-current {
      top: 4px;
      width: 100px;
      font-size: rem-calc(28);
    }
  }

  .slick-track{
    &.no-center{
      transform: initial !important;
      margin: 74px auto 0 auto;
      max-width: 600px;
      display: block;
      white-space: nowrap;

      .slick-slide{
        margin: 0 auto;
        float: none;
        display: inline-block;
      }
    }
  }
}

@media #{$small-up} {
  #printing-view{
      template .end {
        padding-right: 0.9375rem;
    }
  }

}

@media #{$small-only} {
  #printing-view #temp-control-template{
    .extruders{
      height: 320px;
      border-bottom: 2px dashed gainsboro;

      .slick-track{
        margin-top: 135px;
      }
    }
  }
}
