#printing-view {
	h2 {
		font-size: rem-calc(28);
	}

	.progress {
		position: relative;
		text-align: left;
		height: 40px;

		.filename {
			position: absolute;
			top: 8px;
			left: 10px;
			color: #cacaca;
			font-size: rem-calc(20);
			max-width: 60%;
			overflow-x: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			line-height: rem-calc(25);
		}

		.progress-label {
			position: absolute;
			right: 10px;
			top: 8px;
			font-size: rem-calc(20);
			color: #cacaca;
			line-height: rem-calc(25)
		}
	}

	.print-info {
		font-size: rem-calc(42);
		margin: 10px 0 10px 0;

		.highlighted {
			font-size: rem-calc(56);
			color: $success-color;
		}

		.info {
			> div {
				margin: 20px 0;
			}
		}

		.heating {
			display: none;
		}
	}

	.temperatures {
		margin-bottom: 30px;

		.temp-bar {
			position: relative;
			height: 50px;
			width: 100%;
			background: url('/img/temp_grad_horiz.png') repeat-y #f54c39;
			background-size: contain;

			&.nozzle {
				margin-bottom: 40px;
			}

			h3 {
				font-size: rem-calc(15);
				position: absolute;
				right: 5px;
				top: -23px;
			}

			label {
				color: white;
				font-size: rem-calc(28);
				position: absolute;
				top: 6px;
				left: 10px;
				padding-right: 30px;
				display: inline-block;
			}

			.temp-current {
				position: absolute;
				top: 12px;
				right: 10px;
				font-size: rem-calc(28);
				color: white;
				padding-left: 25px;
				display: inline-block;
			}

			.temp-target {
				@include radius();
				background-color: #505050;
				color: white;
				display: inline-block;
				padding: 22px 10px 10px 10px;
				position: absolute;
				top: -5px;
				height: 60px;
				width: 50px;
				left: 130px;
				text-align: center;

				&.moving {
					background-color: lighten(#505050, 20%);
				}
			}

			.temp-curret-line {
				position: absolute;
				top: 0px;
				bottom: 0px;
				left: 153px;
				width: 4px;
				background-color: #505050;
				transition: left 0.5s;
				-webkit-transition: left 0.5s;
				-moz-transition: left 0.5s;

				.triangle_left {
					position: absolute;
					top: -13px;
					left: -5px;
					-webkit-transform: rotate(90deg); 
					-moz-transform: rotate(90deg); 
					transform: rotate(90deg);
				}

				.triangle_right {
					position: absolute;
					bottom: -13px;
					left: -5px;
					-webkit-transform: rotate(90deg);
					-moz-transform: rotate(90deg); 
					transform: rotate(90deg);
				}
			}
		}
	}

	&.heating-up {
		.print-info {
			.heating {
				display: block;
				font-size: rem-calc(50);

				i {
					display: block;
					margin-bottom: 20px;
					font-size: rem-calc(70);
					color: $alert-color;
				}

			}

			.info {
				display: none;
			}
		}

		button.pause-print {
			display: none;
		}
	}
}