.row.container {
    background: #fff;
    border: 1px solid #ccc;
    @include radius($global-radius);
}

.zebra {
	background: url("/img/subtle_zebra_3d.png") 0 0 repeat;
}

#settings-side-bar {
	background: white;
	padding: 0;
	height: 100%;
	margin: 0;
	border-right: 1px solid #ccc;

	.side-nav {
		padding-top: 0;
		li {
			padding: 10px 20px;
			font-size: rem-calc(22);
			margin: 0;

			&.dotted {
				border-top: 1px dotted #e2e2e2;
			}

			a {
				color: $success-color;
                padding: 0 10px;
			}

			&.heading {
				background: url("/img/subtle_zebra_3d.png") 0 0 repeat;
				border-bottom: 1px solid #ccc;
				border-top: 1px solid #ccc;
				color: #505050;
				font-size: rem-calc(30);
			}

			&.heading:first-child {
				border-top: none;
			}

			&.active {
				background-color: #fafafa;

				a {
					font-family: "nexa_boldregular", Helvetica, Arial, sans-serif;
				}
			}
		}
	}
}

#printer-connection {
	label {
		p {
			font-family: $body-font-family;
		}
	}

	.connection-status {
		text-align: center;

		span {
			display: none;
			font-size: rem-calc(25);
		}

		&.connecting {
			span.connecting {
				display: inline-block;
				i {
					color: $success-color;
				}
			}
		}

		&.failed {
			span.failed {
				display: inline-block;
				i {
					color: $alert-color;
				}
			}
		}

		&.connected {
			span.connected {
				display: inline-block;
				i {
					color: $success-color;
				}
			}
		}
	}
}

#wifi-network-list-modal {
	table {
		max-width: 100%;
		border: none;

		button, .button {
			margin-bottom: 0;
		}

		td {
			&.network-name {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			.active-network {
				padding: 5px;
				text-align: center;
				color: $success-color;
			}
		}
	}
}

#wifi-hotspot {
    .icon-attention {
        color: $alert-color;
        font-size: rem-calc(36);
    }
    .no-hotspot {
        h4 {
            color: $steel;
        }
    }
}

#internet-connection {
	i {
		color: $success-color;
	}

	.connection {
		padding: 10px 0;

		.ip-address {
			font-size: rem-calc(16);
			color: #a5a5a5;
		}

		.loading-button {
			margin-top: 10px;
		}
	}

	.hotspot-off {
		padding: 15px 0;

		label {
			font-size: rem-calc(18);
			line-height: 1.2em;
		}
	}
}

#network-name {
	.preview {
		color: #ccc;
		font-size: rem-calc(16);
		text-align: left;
		padding-left: 10px;

		li {
			margin-bottom: 5px;
			list-style: none;
		}

		span.bold, i {
			color: $success-color;
		}
	}
}

#video-stream {

    label {
        margin-bottom: 10px;
    }

    button, .button {
        margin-bottom: 0;
    }

    .error-message {
        border: 3px dashed $base;
        background: #efefef;
        padding: 15px;
        @include radius($global-radius);

        p {
            color: $steel;
            &:last-child {
                margin: 0;
            }
        }
    }

    .icon-attention{
        font-size: 36px;
        color: $red;
    }
}

#software-update-modal {
	h2 span {
		color: black;
	}
}

#software-update {
	h4 {
		line-height: 1em;

		small {
			color: #ccc;
			-moz-user-select: initial;
    		-webkit-user-select: initial;
    		-ms-user-select: initial;
    		user-select: inital;
		}

		margin-bottom: 20px;
	}
}

.settings-page {
	padding: 20px;

	label {
		font-size: rem-calc(22);
	}

	.serial-container {
		padding-top: 15px;
		border-top: 1px dotted #ccc;

		div {
			padding: 0;
		}

		label {
			text-align: left;
			font-size: rem-calc(18);

			i {
				color: $alert-color;
			}
		}
	}
}

#software-advanced {
	.apiKey {
		-webkit-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;
	}
}

@media #{$small-only} {
	#settings-view {
		.settings-page.hide {
			display: block;
		}
	}

	.zebra h1 {
		margin: 0;
		margin-bottom: 1px;
		padding: 5px 0;
		border-bottom: 1px solid #ccc;
		font-size: rem-calc(18);
	}

	.zebra.software h1 {
		margin: 0;
		border: none;
	}
}
