/*

.triangle_left{
background-position: -74px -149px ;
width: 14px;
height: 18px;
}

.triangle_right{
background-position: -91px -149px ;
width: 14px;
height: 18px;
}

.control_icon{
background-position: -82px -72px ;
width: 78px;
height: 70px;
}

.gear_icon{
background-position: -73px 0;
width: 78px;
height: 70px;
}

.house_icon{
background-position: 0 -74px ;
width: 78px;
height: 70px;
}

.therm_icon{
background-position: 0 0;
width: 78px;
height: 70px;
}
*/
