#terminal-view {
  .title-heading {
      margin-bottom: 0;
  }

  .terminal.warning {
      margin: 20px 0 0;
      border: 1px solid $alert-color;
      background: #f9dede;
      color: #222;
  }

  input[name='gcode'] {
    text-transform: uppercase;
  }

  .output-container {
    background: #fafafa;
    height: 500px;
    overflow: scroll;
    margin: 20px 0 0;
    padding: 10px 0;
    border: 1px solid #ccc;
    user-select: text;
    @include radius($global-radius $global-radius 0 0);

    div {
        border-bottom: 1px solid #f2f2f2;
        padding-left: 10px;
        text-indent: -5px;
    }

    .sent {
      color: lighten(#92278f, 25%);
      background: #fdfdfd;
      border-left: 10px solid $secondary-color;

      i {
        color: lighten(#92278f, 30%);
        user-select: none;
      }

      &.failed {
        color: $alert-color;
        i {
          color: $alert-color;
        }

        border-left: 10px solid $alert-color;
        background: lighten($alert-color, 35%);
        border-bottom: 1px solid $alert-color;
      }
    }

    .received {
      color: #505050;
      border-left: 10px solid #ccc;

      i {
          color: #00bff3;
      }
    }
  }

  button, .button {
    height: 37px;
    width: 100%;
  }
}
