#turnoff-view,
#reboot-view {
	padding-top: 100px;

	.icon-off,
	.icon-refresh {
		display: inline-block;
		font-size: rem-calc(90);
		color: $alert-color;
		margin-bottom: 30px;
	}

	.icon-refresh {
		color: #ccc;
	}

	.done {
		display: none;
	}

	&.done {
		.loading {
			display: none;
		}

		.done {
			display: inherit;
			color: $success-color;
		}
	}
}

#reboot-view {
	.loading {
		color: $success-color;
	}
}