#unreachable-view {
	height: 100%;

	.row {
		height: 100%;
	}

	.panel {
	    margin-top: 15px;

		img {
			max-width: 175px;
			margin: rem-calc(20);
		}

		h3 {
			margin-bottom: rem-calc(15);
		}

		.box-name {
			color: $alert-color;
			text-transform: uppercase;
		}
	}
}
