.control-container{
  margin-bottom: 0px;
  @include radius($global-radius);
  background: $white;
  padding-top: 27px;
  padding-bottom: 5px;

  .extruder-number{
    margin-bottom: 0;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 3px;
    font-size: rem-calc(16);
    color: darkgrey;
  }

  label{
    color: darkgrey;
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: -1px;
    font-family: sans-serif;
    letter-spacing: 1.5px;
    white-space: nowrap;
  }

  input, select, .postfix {
    height: 42px;
    border-width: 2px;
    margin: 0 auto;
    cursor: pointer;
  }

  .extruder-switch{
    margin: 0;
    .small-3{
      position: absolute;
      bottom: -120px;
    }
  }

  select.fan-speed{
    border: 0;
    background-size: 23px 5px;
    background-position: 100% 16px;
    padding-right: 0;
    -moz-appearance: none;
    border: 2px solid gainsboro;
  }

  select.extruder-number{
    border: 0;
    margin-top: 0;
    background-color: transparent;
    background-size: 25px 7px;
    background-position-y: 23px;
    margin-bottom: 10px;
    padding-bottom: 0;
    max-width: 77px;
    padding-left: 0;
    opacity: 1;
    z-index: 99999;
    color: #333333;
    margin-left: -59px;
    font-size: 20px;
    text-align-last:center;

    &.no-selected {
      opacity: 0;
    }
  }

  .extruder-icon{
    height: 37px;
  }

  .heading-box{
    position: absolute;
    right: 0;
    top: 0px;
    left: 0;
    width: 100%;
  }

}

#utilities-view {

  #bed-container{
    padding: 0;
  }

  >.row:first-child{overflow: hidden;}

  :focus{
    outline: 0;
  }

	h1 {
		background: #fafafa url("/img/subtle_zebra_3d.png") 0 0 repeat;
		border-bottom: 1px solid #e6e6e6;
		font-size: rem-calc(25);
		margin: 0 0 10px 0;
	}

	h5 {
    color: darkgrey;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0px;
  }

  #controls {
    position: relative;
    display: table;
  }

	.printing-activity {
		display: none;
	}

	&.print-paused, &.print-active {
		.printing-activity {
			display: block;
			margin-top: 10px;

			.filename {
				font-size: rem-calc(17);
				line-height: 1.5em;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
    }

		#z-controls {
			.btn_home_z {
				opacity: 0.1;
				cursor: not-allowed;
			}
		}

		#xy-controls {
			.btn_home_xy {
				opacity: 0.1;
				cursor: not-allowed;
			}
    }
    div {
      #filename-progress-container {
        margin: 15px !important;
        margin-top: -5px !important;
      }
    }

    .progress {
      background-color: rgba(240, 82, 81, 0.2);
      position: relative;
      text-align: left;
      height: 15px;
      margin-top: 45px;
      margin-bottom: -10px;

      .filename {
        position: absolute;
        top: -22px;
        left: 2px;
        color: rgba(0, 0, 0, 0.3);
        font-size: rem-calc(14);
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 60%;
      }

      .progress-label {
        position: absolute;
        right: 0;
        top: -45px;
        font-size: rem-calc(36);
        color: $green;
      }
    }
  }
  &.print-paused {
    .resume-container {
      display: inline-block !important;
    }
    .pause-container {
      display: none !important;
    }
  }
  &.print-active {
    .no-paused-overlay {
      display: inline-block;
    }
    .blur-effect {
      filter:blur(4px);
    }

    .resume-container {
      display: none !important;
    }
    .pause-container {
      display: inline-block !important;
    }
  }

  .no-connection-overlay {
    display: none;

    html.no-printer & {
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(0,0,0,0.7);
      color: white;
      text-align: center;
      font-size: rem-calc(30);
      border-radius: 3px;
      padding: 5px;

      i {
        font-size: rem-calc(80);
        display: block;
      }
    }
  }
  .no-paused-overlay {
    display: none;
    position: absolute;
    height: 99%;
    width: 100%;
    background: rgba(0, 0, 0, 0.36);
    color: white;
    text-align: center;
    font-size: rem-calc(25);
    border-radius: 3px;
    z-index: 1;
    i {
      font-size: rem-calc(60);
      display: block;
    }
  }

  .heading-box{
    background: $oil;
    padding: 3px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.5px;
  }

}

html.no-printer {
  .no-connection-overlay {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
    color: white;
    text-align: center;
    font-size: rem-calc(30);
    border-radius: 3px;
    padding: 5px;

    i {
      font-size: rem-calc(80);
      display: block;
    }
  }
}



#utilities-view{
    .temp-target{
    @extend.no-paddingleft;
  }
}
#temp-control-template {
  color: $iron;
  padding-right: 0;

  hr {
    border: dashed #DDDDDD;
    border-width: 2px 0 0;
    margin: 0;
    padding-bottom: 17px;
    background: $white;
  }

  .no-paddingleft {
    padding-left: 0;
  }

  #bed-container{
    background: $white;

    .container-off{padding: 0;}
  }

  #extruder-container {
    display: inline-block;
    white-space: nowrap;
    min-height: 272px;
    background: $white;

    .arrow {
      color: $oil;
      z-index: 4;
      position: absolute;
      top: 21px;
      cursor: pointer;
      font-size: 36px !important;

      &.arrow-disabled{
        opacity: 0.3;
        cursor: not-allowed;
      }

    }

    .icon-angle-left {
      left: 0;
    }

    .icon-angle-right {
      right: 0;
    }


    #slider-nav {
      white-space: nowrap;
      overflow: hidden;
      overflow-x: scroll;
      padding: 0 3%;

      .nav-extruder {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        float: none !important;
        vertical-align: top;
        margin-top: 5px;
        height: 55px;
        width: 50px;

        &.current-slide {
          .extruder-number {
            background: url(/img/icon-extruder-active.svg) top no-repeat !important;
            color: white;
            height: 45px;
            font-size: 23px;
            padding-top: 0;
            opacity: 1;
          }

          .all-temps {
            border: 2px solid;
            color: #f05251;
            opacity: 0;
          }
        }

        .extruder-number {
          background: url(/img/icon-extruder.svg) center no-repeat !important;
          padding: 2px 15px 10px 15px;
          color: $oil;
          opacity: 0.5;
          font-family: "nexa_boldregular", Helvetica, Arial, sans-serif;
          text-align: center;
          display: block;
          margin: 0 3px 0 0;
        }
      }

      &::-webkit-scrollbar {
        -moz-appearance: none !important;
        background: transparent !important;
        height: 0;
      }
    }

    .semi-circle-temps {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      float: none !important;
      //width: 316px;
      width: 100%;

      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      cursor: pointer;
      .circle-container {
        opacity: 0.5;
        transform: scale(0.75);
        transition: all 500ms ease;
      }

      &:hover{
        transition: all 500ms ease;

          .circle-container{
            opacity: 1;
            transition: all 500ms ease;
          }
      }

      &.current-slide {
        -webkit-filter: initial;
        filter: initial;

        .circle-container{
          transform: scale(0.95);
          opacity: 1;
          transition: all 500ms ease;
        }
      }
      .graphic-container {
        width: 100%;
        padding: 0;
      }
    }

    #slider {
      white-space: nowrap;
      overflow: hidden;
      overflow-x: scroll;
      margin-top: 10px;
      margin-bottom: -10px;
      padding: 0;

      img.icon-bed{display: none;}

      &::-webkit-scrollbar {
        -moz-appearance: none !important;
        background: transparent !important;
        height: 0;
      }
    }
  }

  .bed {
    padding: 0;
    padding-bottom: 15px;
    @include radius($global-radius);
    color: $iron;

    img{
      height: 36px;
      padding-top: 5px;
      margin-bottom: 12px;
    }

   .semi-circle-temps .temp-container .graphic-container{
     padding: 0 !important;
     .buttons-container{
       margin: 0 auto;
     }
   }
  }

  .temp-subheading{
    padding:10px 20px 2px 20px;
    background: $white;
    color: darkgrey;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: -1px;
    font-family: sans-serif;
    letter-spacing: 1.5px;
  }

  .blocked-view{
    display: none;
  }

  .no-bed {
    cursor:not-allowed !important;

    .semi-circle-temps, span,{
      opacity: 0.3;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }

    button[disabled]{
      cursor: not-allowed;
    }
  }
}
.fan-flow-container {
  border-top: 1px dashed #e2e2e2;
  padding-top: 10px;

  .no-paddingleft{
    padding-left: 0;
  }

}

#printing-speed-control, #printing-flow-control{
  select{width: 95%;}
}

#fan-control, #printing-speed-control, #printing-flow-control{


  &.border-left{border-left: 1px dashed gainsboro;}

  .variable-speed{padding: 0;}

  .no-paddingleft{padding-left: 0;}
  .nopadding{padding: 0;}
  .no-paddingright{padding-right: 0;}

  .fan-on{
    border: 2px solid $oil;
    background: transparent;
    color: $oil;
    margin-top: 16px;

    &:hover{
      background: $oil;
      color: white;
    }
  }
  .flow-icon {
    position: relative;
    top: 17px;
    color: $charcoal;
    display: block;
    margin-bottom: 24px;

    &:before{
      font-size: 38px;
      margin: 0;
    }
  }
  .fan_icon {
    position: relative;
    top: 8px;
    color: $charcoal;
    display: block;
    font-size: 38px;
  }

  .fan-off{
    background: $oil;
    border: 2px solid $oil;
    margin-top: 16px;
  }

  .other-fan-speed .postfix{
    background: transparent;
    border-left: none;
    color: #e2e2e2;
    font-size: 22px;
    border-color: white;
  }

  i.animate-spin {
    &.speed-100 {
      animation: spin 1.3s infinite linear;
    }
    &.speed-75 {
      animation: spin 1.75s infinite linear;
    }
    &.speed-50 {
      animation: spin 2.2s infinite linear;
    }
    &.speed-25 {
      animation: spin 3s infinite linear;
    }
  }

}

#extrusion-control {
  padding: 0;

  .no-paddingright{
    padding-right: 0;
  }

	.columns {
		&.padded-top {
			padding-top: 21px;
		}
	}

	label {
		white-space: nowrap;
		overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
	}

	i.icon-extruder {
    font-size: 38px;
    top: 8px;
    position: relative;
    color: $charcoal;

      &:before{
        margin: 0;
      }
	}


	.postfix {
		padding-top: 3px;
	}

	input {
		padding: 0 5px;
		font-size: rem-calc(20);
		width: 100%;
  }

  button{
    background: $oil;
    margin-top: 15px;

    &:active{
      transform: scale(0.9);
    }
  }

  div.extruder-heading{
    background: #e5e5e5;
    margin-bottom: 8px;
    letter-spacing: 1px;
    font-size: 14px;
  }
  select{
    -moz-appearance: none;
  }

  .icon-container{
    padding: 0;
  }
}


@media #{$medium-only} {
 #temp-control-template {
    padding-right: 0;
    margin-top: 30px;
    padding: 0;

    .nav-extruders {
      padding: 0px 25%;
    }
  }
}

@media #{$large-up} {
	#utilities-view {
		h1 {
			@include side-radius(bottom);
			border: 1px solid #e6e6e6;
			border-top: none;
			padding: 5px 0;
		}
  }

  #temp-control-template .nav-extruders {
    padding: 0px 15%;
  }
}

@media #{$small-only} {
  #temp-control-template {
    margin-top: 30px;
  }

  .border-left{border-left: 0 !important;}

  #temp-control-template {
    padding-left: 0;

    .nav-extruders .icon-angle-left {
    left: -5px;
    }

   .nav-extruders .icon-angle-right {
    right: -5px;
    }
  }

  #fan-control{
    position: relative;
    bottom: 0;
  }

  #extrusion-control
    .no-paddingright{
      padding-right: 0.9375rem;
    }

}
