.loading-button {
  display: inline-block;

  &.expand {
    width: 100%;
    display: block;

    span.loading,
    span.failed,
    button, .button, .idle {
      width: 100%;
    }
  }

  span.loading,
  span.failed {
    display: none;
  }

  &.loading {
    button, .button, .idle {
      display: none;
    }

    span.loading {
      display: inherit;
    }
  }

  &.failed {
    button, .button, .idle {
      display: none;
    }

    span.failed {
      display: inherit;
      font-style: normal;
    }
  }
}

.tooltip {
  background: black;
  color: white;
  padding: 10px;
  position: absolute;
  font-size: rem-calc(12);
  box-shadow: 1px 1px 3px #222;
  @include radius($global-radius);

  .pip {
    @include css-triangle(5px, black, bottom);
    position: absolute;
    top: -10px;
    right: 5px;
  }
}
