@charset "UTF-8";

@import
  "fonts",
  "normalize",
  "fontello",
  "variables",
  "mixins",
  "animations",
  "foundation/settings",
  "foundation/components/visibility",
  "foundation/components/top-bar",
  "foundation/components/alert-boxes",
  "foundation/components/button-groups",
  "foundation/components/forms",
  "foundation/components/offcanvas",
  "foundation/components/labels",
  "foundation/components/reveal",
  "foundation/components/progress-bars",
  "foundation/components/tables",
  "foundation/components/panels",
  "foundation/components/side-nav",
  "foundation/components/switches",
  "common-main";

body, html {
  height: 100%;
  overflow: visible;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.tab-bar {
  .tab-bar-section.middle {
    text-align: left;

    ul {
      list-style: none;
      background: $ghost;
      border-right: $basic-border;
      border-left: $basic-border;
      margin-right: 15px;
      a {
        color: #999;
        line-height: rem-calc(50);
        display: block;
        padding: 0 15px;
        font-size: rem-calc(14);
        &:hover {
          background: #efefef;
          color: $charcoal;
        }
      }
    }
  }

  .turn-off {
    padding: 5px;
    color: $alert-color;
    font-size: rem-calc(25);
  }

  h1.title {
    float: left;

    img {
      height: 30px;
    }
  }
}

.off-canvas-list {
  .header {
    label {
      text-transform: none;
    }

    &.bold {
      label {
        color: white;
      }
    }
  }

  label {
    display: block;

    &.account {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: rem-calc(10);
    }
  }
}

.left-off-canvas-menu {
  .turn-off-area {
    padding-top: 40px;
  }

  .copy {
    width: 100%;
    position: absolute;
    font-size: rem-calc(10);
    bottom: 10px;
    color: white;

    a {
      color: white;
    }
  }
}

i.animate-spin {
  line-height: .5;
}

#app {
  height: 100%;
  overflow: visible;

  .inner-wrap {
    min-height: 100%;
  }

  .top-logo-small {
    float: left;
    font-size: rem-calc(40);

    a {
      color: $alert-color;
    }
  }
}

#main {
  border-top: 1px solid #e5e5e5;
  -webkit-transform: scale3d(1,1,1);
  padding-bottom: 55px;
}

#connection-view {
  float: right;

  i {
    font-size: rem-calc(20);
    padding: 0 5px;
    display: inline-block;
    color: #505050;

    &.connected {
      color: $success-color;
    }

    &.failed {
      color: $alert-color;
      cursor: pointer;
    }

    &.astroprint {
      .offline & {
        display: none;
      }
    }
  }

  a.offline {
    display: inline-block;
    height: 100%;
    padding: 0px 8px;
    color: #ccc;

    img {
      height: 18px;
      margin-top: -5px;
    }

    .online & {
      display: none;
    }
  }
}

.quick-nav {
  background: #fafafa;
  border-top: 1px solid #ccc;
  color: #222;
  position: fixed;
  bottom: 0;
  max-width: 100%;

  ul {
    list-style: none;
    display: inline-flex;
    font-size: rem-calc(22);
    margin: 0;

    li {
      padding: 2px 10px;
      border-left: 1px solid #ccc;

      &.active {
        background: #505050;
        color: #fff;
      }

      a {
        color: #222;
        display: block;
      }

      &:hover,
      &.active {
        background: #505050;
        -webkit-transition: background .25s ease;
        -moz-transition: background .25s ease;
        transition: background .25s ease;

        a {
          color: #fff;
        }
      }
    }

    li:last-child {
      border-right: 1px solid #ccc;
    }
  }
}

.alert-box {
  &.new-release {
    border: 3px dashed $alert-color;
    background: $ghost;
    color: $charcoal;
    font-size: 22px;

    i {
      color: $success-color;
    }

    a.check {
      height: initial;
        padding: 5px 15px;
        margin: 0;
        font-size: 14px;
        vertical-align: middle;
    }

    a.close {
      font-size: 50px;
      padding-top:0;
      top: 30px;
      right: 0;
    }
  }

  &.alert {
    a {
      color: black;

      &:hover {
        font-weight: bold
      }
    }
  }
}

#bad-shutdown-modal {
  h1 i {
    color: $alert-color;
    font-size: rem-calc(40);
  }

  h4 {
    color: $alert-color;
    text-align: center;
  }

  p.alert {
    color: $alert-color;
  }

  .warning-outline {
    border: 3px solid $alert-color;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 10px;
  }

  i.icon-off {
    color: $alert-color;
    font-size: rem-calc(25);
    vertical-align: middle;
  }

  button.secondary {
    margin-bottom: 0;
  }
}

/* when in printing state */
body.printing {
  .tab-bar {
    .tab-bar-section.middle {
      left: 0;
      right: 0;
    }

    .left-small {
      display: none;
    }

    .right-small {
      display: none;
    }
  }
}

@import
  "noty",
  "widgets",
  "utilities",
  "home",
  "files",
  "settings",
  "supplies",
  "help",
  "turnoff",
  "printing",
  "terminal",
  "camera",
  "unreachable",
  "maintenance-menu",
  "additional-task",
  "additional-tasks",
  "widget";
