@charset "UTF-8";

@import
	"fonts",
    "normalize",
    "fontello",
    "sprites",
    "animations",
    "foundation/settings",
    "foundation/components/visibility",
    "foundation/components/top-bar",
    "foundation/components/alert-boxes",
    "foundation/components/button-groups",
    "foundation/components/forms",
    "foundation/components/offcanvas",
    "foundation/components/reveal",
    "foundation/components/progress-bars",
    "foundation/components/tables",
    "foundation/components/panels",
    "foundation/components/side-nav",
    "foundation/components/switches",
    "foundation/components/tooltip",
    "common-main";

body, html {
	height: 100%;
	overflow: visible;
}

.tab-bar {
	.tab-bar-section.middle {
		right: 0;
		text-align: left;
	}

	h1.title {
		float: left;
		
		img {
			height: 30px;
		}	
	}
}

.off-canvas-list {
	.header {
		label {
			text-transform: none;
		}

		&.bold {
			label {
				color: white;
			}
		}
	}

	label {
		display: block;

		&.account {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: rem-calc(10);
		}
	}
}

.left-off-canvas-menu {
	.turn-off-area {
		padding-top: 40px;
	}

	.copy {
		width: 100%;
		position: absolute;
		font-size: rem-calc(10);
		bottom: 10px;
		color: white;

		a {
			color: white;
		}
	}
}

#app {
	height: 100%;
	overflow: visible;

	.inner-wrap {
		min-height: 100%;
	}
}

#main {
	border-top: 1px solid #ccc;
	-webkit-transform: scale3d(1,1,1);
}

#connection-view {
	float: right;

	i {
		font-size: rem-calc(20);
		padding: 0 5px;
		display: inline-block;
        color: #505050;

		&.connected {
			color: $success-color;
		}	

		&.failed {
			color: $alert-color;
			cursor: pointer;
		}
	}
}

@import
    "noty",
    "widgets", 
    "control",
    "home",
    "settings",
    "turnoff",
    "printing";