@charset "UTF-8";

@import
	"fonts",
	"normalize",
	"fontello",
	"animations",
	"foundation/settings",
	"foundation/components/forms",
	"foundation/components/grid",
	"foundation/components/buttons",
  "common-main",
	"widgets",
	"noty";

body {
	background: url('/img/vault-bg.jpg') no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.bold {

}

.locked-area {
	margin-top: 50px;
	padding: 20px;
	background: rgba(255,255,255,0.8);
	border: 1px solid #ccc;
	font-size: rem-calc(16);
	@include radius($global-radius);

	form {
		margin-bottom: 0;
	}

	img {
		text-align: center;
		margin-bottom: 15px;
		height: 60px;
	}

	h2, .button  {
		font-size: rem-calc(20);
	}

	span.highlight {
		color: $alert-color;
	}

	.button {
		margin-bottom: 0;
	}
}

@media #{$medium-up} {
	.locked-area {
		font-size: rem-calc(20);

		img {
			height: 80px;
		}

		h2, .button {
			font-size: rem-calc(26);
		}
	}
}
