@charset "UTF-8";

$include-html-global-classes: false;
@import
    "foundation/components/global";

#main-menu {
    li {
        a.login {
            margin: 0;
            color: white;
        }
    }
}

#login-modal {
    img.logo {
        margin-bottom: 20px;
    }
}

@media #{$medium-up} {
    #login-modal {
        max-width: 500px;
    }
}