@charset "UTF-8";

@import
	"fonts",
	"normalize",
	"fontello",
	"foundation/settings",
	"foundation/components/grid",
	"foundation/components/buttons",
	"foundation/components/progress-bars",
	"common-main",
	"widgets";

body {
	background: url('/img/upload-bg.jpg') no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.info {
	background: #dbd7d5;
	margin-top: 60px;
	padding: 20px 40px;
	@include radius($global-radius);

	p {
		font-size: rem-calc(18);

		i.icon-attention {
			color: $alert-color;
		}
	}

	.release-notes {
		font-size: rem-calc(14);
	}

	button {
		font-size: rem-calc(26);
	}
}

.progress-info {
	padding: 0 20px;

	h1, h3 {
		color: white;
		line-height: 1.3em;
	}

	.progress {
		height: 25px;
		width: 100%;
		background: transparent;
		border-color: #bbb;

		.meter {
			transition: width 1s;
		}
	}
}

.error {
	margin-top: 60px;
	padding: 20px;
	background: #dbd7d5;
	@include radius($global-radius);

	h1 {
		font-size: rem-calc(36);
		color: $body-font-color;
		margin: 0;
	}

	p {
		font-size: rem-calc(22);
		line-height: 1.5em;

		i.icon-attention {
			color: $alert-color;
		}
	}

	button {
		font-size: rem-calc(25);
	}
}

.progress-animation {
	width: 100%;
	max-width: 600px;
	position: relative;

	.left-img {
		position: absolute;
		bottom: -50px;
		left: 0;
		width: 30%;
	}

	.right-img {
		position: absolute;
		bottom: -50px;
		right: 0;
		width: 30%;
	}

	.progress-img {
		width: 75%;
	}
}