{% extends 'base.jinja2' %}

{% block css %}
	{% if not user_email %}
		{% assets filters="scss", output="css/gen/login.css", "css/scss/login.scss" %}
			<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
		{% endassets %}
	{% endif %}
	{% assets filters="scss", output="css/gen/app.css", "css/scss/app.scss" %}
		<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
	{% endassets %}
{% endblock %}

{% block content %}
	<div id="app" 
		class=
		   "{%- if online -%} online {%- else -%} offline {%- endif %}
			{%- if serialLogActive %} serial-log {%- endif %}
			{%- if user_email %} user-logged {%- else %} no-user {%- endif %}
			off-canvas-wrap" data-offcanvas>
		<div class="inner-wrap">
			<nav class="tab-bar">
				<section class="left-small">
					<a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
				</section>
				<section class="middle tab-bar-section">
					<span class="top-logo-small show-for-small"><a href="#"><i class="icon-rocket"></i></a></span>
					<h1 class="title hide-for-small"><a href="#"><img src="/img/astrobox_logo_medium.png"/></a></h1>
					<div id="connection-view">
						<a href="#settings/internet-connection" class="offline" data-title="Not connected to the internet">
							<img src="/img/no-internet-icon.png" />
						</a>
						<i class="icon-rocket astroprint"></i>
						<i class="icon-3d-printer printer"></i>
						<i class="icon-exchange server"></i>
					</div>
				</section>
			</nav>
			<aside class="left-off-canvas-menu">
				<ul class="off-canvas-list" id="main-menu">
					<li class="header bold"><label>{{astroboxName}}</label></li>
					<li><a href="#"><i class="icon-th"></i> Dashboad</a></li>
					{% if not user_email %}
						<li><a class="button small login" data-reveal-id="login-modal"><i class="icon-user"></i> Sign in to AstroPrint</a></li>
					{% else %}
						<li><label class="account bold"><i class="icon-user"></i> {{user_email}}</label></li>
						<li class="logout"><a href="#"><i class="icon-logout"></i> Sign out <i class="icon-rocket-spinner animate-spin hide"></i></a></li>
					{% endif %}
				</ul>
				<div class="turn-off-area" align="center">
					<button class="alert tiny radius turn-off"><i class="icon-off"></i> Turn {{variantData['productName']}} Off</button>
				</div>
				<div class="copy" align="center">Powered by <a href="https://www.astroprint.com">AstroPrint&reg;</a><br/>{{version}}</div>
			</aside>
			<div id="main">
				<div class="row">
					<div id="view-container" class="small-12 columns">
						<div id="home-view" class="app-view hide">
							{% include 'home.jinja2' %}
						</div>
						<div id="files-view" class="app-view hide">
							{% include 'files.jinja2' %}
						</div>
						<div id="control-view" class="app-view hide">
							{% include 'control.jinja2' %}
						</div>
						<div id="settings-view" class="app-view hide">
							{% include 'settings.jinja2' %}
						</div>
						<div id="printing-view" class="app-view hide">
							{% include 'printing.jinja2' %}
						</div>
					</div>
				</div>
			</div>
			<div class="row quick-nav">
				<div class="small-10 large-5 small-centered columns">
					<ul class="small-block-grid-4 columns text-center">
						<li class="dash"><a href="#" title="Dashboard"><i class="icon-th"></i></a></li>
						<li class="files"><a href="#files" title="File Manager"><i class="icon-folder"></i></a></li>
						<li class="control"><a href="#control" title="Control Panel"><i class="icon-move"></i></a></li>
						<li class="settings"><a href="#settings" title="Settings"><i class="icon-cog"></i></a></li>
					</ul>
				</div>
			</div>
			<a class="exit-off-canvas"></a>
		</div>
	</div>
	{% if not user_email %}
		{% include 'login.jinja2' %}
	{% endif %}

	<div id="turnoff-view" class="app-view hide" data-fullscreen="1">
		{% include 'turnoff.jinja2' %}
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		var UI_API_KEY = "{{ uiApiKey }}";
		var BASEURL = "{{ url_for('index') }}";
		var API_BASEURL = BASEURL + "api/";
		var SOCKJS_URI = window.location.protocol.slice(0, -1) + "://" + (window.document ? window.document.domain : window.location.hostname) + ":" + window.location.port + "/sockjs";
		var SOCKJS_DEBUG = {% if debug -%} true {%- else -%} false {%- endif %};
		var LOGGED_USER = {% if user_email -%} "{{user_email}}" {%- else -%} null {%- endif %};
		var app = null;
		var ASTROBOX_NAME = "{{astroboxName}}";
		var PRODUCT_NAME = "{{variantData['productName']}}";
		var initial_states = {
			printing: {% if printing -%} true {%- else -%} false {%- endif %},
			paused: {% if paused -%} true {%- else -%} false {%- endif %},
			print_capture: {% if print_capture -%} {{ print_capture | tojson | safe }} {%- else -%} null {%- endif %},
			online: {% if online -%} true {%- else -%} false {%- endif %}
		};
		var initial_printer_profile = {{ printer_profile | tojson | safe }};
	</script>
	{% assets filters="closure_js", output="js/gen/app.js", 
		"js/lib/jquery.js", "js/lib/jquery.ui.widget.js", "js/lib/underscore.js", "js/lib/backbone.js", "js/lib/modernizr.js",
		"js/lib/foundation/foundation.js", "js/lib/foundation/foundation.offcanvas.js", "js/lib/foundation/foundation.reveal.js", "js/lib/foundation/foundation.abide.js", "js/lib/sockjs.js", "js/lib/fastclick.js", "js/lib/jquery.fileupload.js", "js/lib/jquery.noty.js", "js/lib/jquery.noty.top.js", "js/lib/circle-progress.js", "js/app/utils.js", 
		"js/app/models/socketdata.js", "js/app/models/printfiles.js", "js/app/models/printerprofile.js", 
		"js/app/widgets/tempbarview.js", "js/app/widgets/uploader.js", 
		"js/app/views/home.js", "js/app/views/files.js", "js/app/views/control.js", "js/app/views/settings.js", "js/app/views/connection.js", "js/app/views/turnoff.js", "js/app/views/printing.js", "js/app/router.js",
		"js/app/app.js" -%}
			<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{%- endassets %}
	{% if not user_email %}
		{% assets filters="closure_js", output="js/gen/login.js", "js/lib/foundation/foundation.abide.js", "js/app/login.js" -%}
			<script type="text/javascript" src="{{ ASSET_URL }}"></script>
		{%- endassets %}
	{% endif %}
	<script type="text/javascript">
		$(document).foundation({
			offcanvas: { close_on_click: true }
		});
	</script>
{% endblock %}