<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="transparent">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title> {{astroboxName}} - {{variantData['productName']}}</title>
	{% block css %}{% endblock %}
</head>
<body>
	{% block content %}{% endblock %}
	{% block js %}{% endblock %}
</body>
</html>
