<div class="row large-collapse">
	<div class="small-12 columns title-heading">
		<h1 class="bold">Camera</h1>
	</div>

	<div class="camera-view">
		<div class="row video-container">
			<div class="small-12 columns">

			</div>
		</div>
		<div class="row buttons">
			<div class="small-12 large-4 large-centered columns">
				<button class="success radius bold"><i class="icon-play"></i>&nbsp;&nbsp;Start Streaming Video</button>
			</div>
			<div class="small-12 large-4 large-centered columns">
				<button class="secondary radius bold"><i class="icon-stop"></i>&nbsp;&nbsp;Stop Streaming Video</button>
			</div>
		</div>
	</div>

</div>
