<div id="clear-bed-modal" class="reveal-modal medium radius" data-reveal align="center">
	<h2 class="bold">Confirm that print platform is clean</h2>
	<div class="modal-body">
		<p>The controller can’t start a new print job until you confirm that the platform is clean.</p>
		<p>Are you sure the print platform is clean?</p>
	</div>
	<div class="row">
		<div class="small-12 medium-6 columns">
			<button class="secondary radius expand">Cancel</button>
		</div>
		<div class="small-12 medium-6 columns">
			<button class="alert radius expand">Yes, platform is clean</button>
		</div>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>
