<div class="row">
  <h1 class="bold" align="center">Printer Controls</h1>
  <div class="columns small-12 back-to-print panel callout radius">
    <div class="small-12 medium-4 large-3 columns">
      <div class="loading-button expand">
        <button class="radius tiny expand"><i class="icon-play"></i> Resume Printing</button>
        <span class="radius button tiny expand loading"><i class="icon-rocket-spinner animate-spin"></i> Resuming...</span>
      </div>
    </div>
    <div class="small-12 medium-8 large-9 columns hide-for-small">
      Printing paused: <div class="filename bold"></div>
    </div>
  </div>
  <div class="medium-12 large-8 columns controls-container">
    <div class="heading-box bold">Movement controls</div>
    <div class="row clearfix">

      <div class="small-12 medium-8 columns medium-offset-0" id="xy-controls" align="center">
        <h5>Horizontal (XY)</h5>
        <div class="control_bg_xy" align="center">
          <button class="control_btn_y_plus"><i class="icon-right-open"></i></button>
          <button class="control_btn_x_minus"><i class="icon-right-open"></i></button> <button class="home_z"><i class="icon-home"></i></button> <button class="control_btn_x_plus"><i class="icon-right-open"></i></button>
          <button class="control_btn_y_minus"><i class="icon-right-open"></i></button>
          <div class="bed-mesh"></div>
        </div>
      </div>
      <div class="small-12 medium-2 columns" id="z-controls">
        <h5 align="center">Vertical (Z)</h5>
        <center>
          <button class="control_btn_z_plus"><i class="icon-right-open"></i></button><br/>
          <button class="home_z"><i class="icon-home"></i></button><br/>
          <button class="control_btn_z_minus"><i class="icon-right-open"></i></button>
        </center>
      </div>

      <div class="small-12 columns" id="distance-control">
        <center>
          <h2>Set movement distance</h2>
          <ul class="button-group radius">
            <li><button class="tiny bold secondary" data-value="0.1">0.1</button></li>
            <li><button class="tiny bold secondary" data-value="1">1</button></li>
            <li><button class="tiny bold success" data-value="10">10</button></li>
            <li><button class="tiny bold secondary" data-value="100">100</button></li>
          </ul>
        </center>
      </div>
      <div class="clearfix"></div>

    <div class="text-center extruder-heading">
      <img class="extruder-icon" src="/img/icon-extruder.svg"/>
      <select class="extruder-number bold">
        <!--% for(var i=0; i<profile.extruder_count; i++) { %-->
          <option value="1">Extruder 1</option>
          <option value="2">Extruder 2</option>
          <option value="3">Extruder 3</option>
        <!--% } %-->
      </select>
    </div>
      <div class="small-12 medium-8 large-8 columns border-right" id="extrusion-control">
        <div class="small-12 columns">
          <div class="row extruder-switch closer"></div>
        </div>
        <div class="small-12 columns">
          <div class="row closer">
            <div class="small-6 columns">
              <button class="small radius expand success extrude">Extrude</button>
            </div>
            <div class="small-6 columns">
              <button class="small radius expand success retract">Retract</button>
            </div>
          </div>
        </div>
        <script type="text/template" id="extruder-switch-template">

          <% if (profile.extruder_count > 1) { %>
            <div class="small-3 columns">
              <label class="bold">Extruder</label>
              <select class="extruder-number">
                <% for(var i=0; i<profile.extruder_count; i++) { %>
                  <option value="<%= i %>"><%= i+1 %></option>
                <% } %>
              </select>
            </div>
          <% } %>

          <div class="small-12 medium-2 large-2 columns text-center">
            <div class="icon-window">
            <i class="icon-extruder"></i>
            </div>
          </div>

          <!--div class="<% if (profile.extruder_count > 1) { %> small-4 <% } else { %> small-6 <% } %>columns select-with-text"-->
          <div class="small-12 medium-4 columns select-with-text">
            <label>Amount</label>
            <select class="extrusion-length bold">
              <option value="10" selected default>10 mm</option>
              <option value="50">50 mm</option>
              <option value="100">100 mm</option>
              <option value="200">200 mm</option>
              <option value="other">Other...</option>
            </select>
            <div class="row collapse other-length hide">
              <div class="small-8 columns">
                <input type="number" value="10" class="expand back-to-select" name="extrusion-length"/>
              </div>
              <div class="small-4 columns">
                <span class="postfix radius">mm</span>
              </div>
            </div>
          </div>

          <div class="small-12 medium-6 columns select-with-text">
            <label>Speed</label>
            <select class="extrusion-speed bold">
              <option value="50">Fast (50 mm/s)</option>
              <option value="2" selected default>Normal (2 mm/s)</option>
              <option value="0.5">Slow (0.5 mm/s)</option>
              <option value="other">Other...</option>
            </select>
            <div class="row collapse other-speed hide">
              <div class="small-7 columns">
                <input type="number" value="2" class="expand back-to-select" name="extrusion-speed"/>
              </div>
              <div class="small-5 columns">
                <span class="postfix radius">mm/s</span>
              </div>
            </div>
          </div>
        </script>
      </div>

      <div id="fan-control" class="small-12 medium-4 large-4 column text-center">
        <div class="fan-control">
            <div class="small-12 column bold text-left">
              <i class="icon-fan fan_icon "></i>
              <button class="small-8 medium-6 large-6 column radius tiny success fans right bold fan-on">ON</button>
            </div>

            <div class="small-12 column">
              <label class="text-center">Fan speed</label>
              <select class="fan-speed">
                <option value="10" selected default>10%</option>
                <option value="30">30%</option>
                <option value="50">50%</option>
                <option value="100">100%</option>
                <option value="other">Other...</option>
              </select>
              <!--button class="large-3 large-offset-1 column radius small secondary fan-off" align="right">OFF</button-->
            </div>
        </div>
      </div>
    </div>
  </div>

  <div id="temp-control-template" class="medium-12 large-4 column temp-container">
    <div class="heading-box bold">Temperatures</div>
      <div class="row clearfix">
        <div class="small-12 column">
          <div class="temp-subheading text-center"><span>Extruders</span></div>
          <div class="nav-extruders text-center"></div>
          <div class="extruders clearfix"></div>
        </div>
        <div class="small-12 column" id="bed-container">
          <hr>
          <div class="temp-subheading text-center"><span>Bed</span></div>
          <div class="bed text-center clearfix"></div>
        </div>
      </div>
  </div>

  <div class="no-connection-overlay">
    <i class="icon-usb"></i>
    <b>Please, connect a 3D Printer via USB.</b>
  </div>
</div>

