<div class="row">
	<h1 class="bold" align="center">Printer Controls</h1>
	<div class="row back-to-print panel callout radius">
		<div class="small-12 medium-4 large-3 columns">
			<div class="loading-button expand">
				<button class="radius tiny expand"><i class="icon-play"></i> Resume Printing</button>
				<span class="radius button tiny expand loading"><i class="icon-rocket-spinner animate-spin"></i> Resuming...</span>
			</div>
		</div>
		<div class="small-12 medium-8 large-9 columns hide-for-small">
			Printing paused:
			<div class="filename bold"></div>
		</div>
	</div>
	<div class="medium-12 large-7 columns">
		<div class="row">
			<div class="small-12 medium-7 columns" id="xy-controls" align="center">
				<h2 class="bold">Horizontal</h2>
				<div class="control_bg_xy" align="center">
					<button class="control_btn_y_plus"></button><br/>
					<button class="control_btn_x_minus"></button> <button class="home_z"></button> <button class="control_btn_x_plus"></button><br/>
					<button class="control_btn_y_minus"></button>
				</div>
			</div>
			<div class="small-12 medium-5 columns" id="z-controls">
				<h2 class="bold" align="center">Vertical</h2>
				<center>
					<button class="control_btn_z_plus"></button><br/>
					<button class="home_z"></button><br/>
					<button class="control_btn_z_minus"></button>
				</center>
			</div>
			<div class="small-12 columns" id="distance-control">
				<center>
					<ul class="button-group radius">
						<li><button class="small bold secondary" data-value="0.1">0.1</button></li>
						<li><button class="small bold secondary" data-value="1">1</button></li>
						<li><button class="small bold success" data-value="10">10</button></li>
						<li><button class="small bold secondary" data-value="100">100</button></li>
					</ul>
				</center>
			</div>
			<div class="small-12 columns" id="extrusion-control">
				<h2 class="bold">Extrude Filament</h2>
				<div class="small-12 medium-7 columns">
					<div class="row extruder-switch"></div>
				</div>
				<div class="small-12 medium-5 columns">
					<div class="row closer">
						<div class="small-6 columns">
							<button class="small radius expand success extrude">Extrude</button>
						</div>
						<div class="small-6 columns">
							<button class="small radius expand success retract">Retract</button>
						</div>
					</div>
				</div>
				<script type="text/template" id="extruder-switch-template">
					<% if (profile.extruder_count > 1) { %>
						<div class="small-6 columns">
							<div class="row closer">
								<label class="bold">Select Nozzle</label>
								<div class="small-5 columns">
									<i class="icon-extruder"></i>
								</div>
								<div class="small-7 columns">
									<select class="extruder-number">
										<% for(var i=0; i<profile.extruder_count; i++) { %>
											<option value="<%= i %>"><%= i+1 %></option>
										<% } %>
									</select>
								</div>
							</div>
						</div>
					<% } else { %>
						<div class="small-3 columns padded-top">
							<i class="icon-extruder"></i>
						</div>						
					<% } %>

					<div class="<% if (profile.extruder_count > 1) { %> small-6 <% } else { %> small-9 <% } %>columns">
						<label class="bold">Filament Amount</label>
						<select class="extrusion-length">
							<option value="10" selected>10 mm</option>
							<option value="50">50 mm</option>
							<option value="100">100 mm</option>
							<option value="200">200 mm</option>
							<option value="other">Other...</option>
						</select>
						<div class="row collapse other hide">
							<div class="small-8 columns">
								<input type="number" value="10" class="expand" name="extrusion-length"/>
							</div>
							<div class="small-4 columns">
								<span class="postfix radius">mm</span>
							</div>
						</div>
					</div>
				</script>
			</div>
		</div>
	</div>

{%- macro temp_control(class, label) %}
	<div class="temp-control-cont {{class}}">
		<span class="current-temp-top bold">- -</span>
		<div class="temp-bar">
			<label class="bold">{{label}}</label>
			<div class="current-temp">
				<div class="triangle_left"></div>
				<div class="triangle_right"></div>
			</div>
			<div class="temp-target radius bold">
				<a class="temp-edit"><i class="icon-pencil"></i></a>
				<span class="label">- -</span>
				<input type="number" class="hide"/>
			</div>
		</div>
		<button class="temp-off secondary small radius expand">OFF</button>
	</div>
{%- endmacro %}

	<div class="medium-12 large-5 columns" id="temp-control">
		<div class="row">
			<div class="small-4 columns" align="center">
				{{ temp_control('nozzle', 'Nozzle')}}
			</div>
			<div class="small-4 columns fan-control">
				<div class="fan-control-push" align="center">
					Current Temp
				</div>
				<h2 class="bold">Fans <span class="fan_icon"></span></h2>
				<button class="radius small success expand fan-on">ON</button>
				<button class="radius small secondary expand fan-off">OFF</button>
			</div>
			<div class="small-4 columns" align="center">
				{{ temp_control('bed', 'Bed')}}
			</div>
		</div>
	</div>
</div>