
<div class="row large-collapse">
	<div class="small-12 columns title-heading">
		<h1 class="bold">Customized commands</h1>
	</div>
</div>
<div class="content">
	<div>
		<div class="row collapse">
			<div class="small-12 columns text-center supplies-heading">
				<h3 class="bold">Choose a customized instruction</h3>
				<p class="bold">Here you'll find customized instructions such as Filament loading and unloading, auto leveling...</p>
			</div>
		</div>

      <ul id="action-list" class="row action-list small-block-grid-3 large-block-grid-6"></ul>

     {# ACTION ROW #}
      <script type="text/template" id="action-row-template">
          <a href="#files"><div class="app-image">
            <img src="/static/img/variant/<%= customAction.icon_filename %>" alt="<%= customAction.strings.en.name %> icon"/>
            <div class="overlay"><div class="contain"><h4 class="bold">Launch</h4></div></div></div>
          </a>
          <h1 class="bold"><%= customAction.strings.en.name %></h1>
      </script>

	</div>
</div>
