<div class="row heading">
	<div class="small-12 title-heading">
		<h1 class="bold">File Manager</h1>
	</div>
</div>

<div class="file-upload-view">
	<div class="row upload-buttons">
		<div class="small-12 medium-7 large-4 medium-centered columns">
			<span class="file-upload-button button success radius expand" style="margin-bottom: 10px">
				<i class="icon-upload-cloud-1"></i> Upload File ( <span class="extensions"></span> )
				<input class="file-upload" type="file" name="file" accept="">
			</span>
		</div>
	</div>
	<div class="row upload-progress" style="display:none">
		<div class="small-12 large-10 large-centered columns">
			<div class="progress radius">
				<div class="meter" style="width: 0%"></div>
			</div>
			<div class="progress-message" align="center">
				<i class="icon-rocket-spinner animate-spin"></i> <span></span>
			</div>
		</div>
	</div>
</div>

<hr/>

<div class="design-list">
	<div class="row list-header">
		<div class="small-12 medium-7 large-8 columns">
			<h3 class="bold">Printable Files</h3>
			{%- if user_email %} 
				<div class="loading-button sync">
					<button class="tiny success radius sync"><i class="icon-refresh"></i> Sync</button>
					<span class="tiny success button radius disabled loading"><i class="icon-refresh animate-spin"></i> Sync</span>
				</div>
			{%- endif %}
		</div>
		<div class="small-12 medium-5 large-4 columns">
			<ul class="button-group radius even-2 storage">
			  <li><a href="#" class="button small secondary local">Local</a></li>
			  <li><a href="#" class="button small secondary cloud">Cloud</a></li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<div class="design-list-container"></div>
		</div>
	</div>
</div>

<div id="print-file-info" class="reveal-modal xlarge" data-reveal>
	<div class="dlg-content"></div>
	<a class="close-reveal-modal">&#215;</a>
</div>

<script type="text/template" id="printfile-info-template">
	<h2 class="bold"><%= p.name %></h2>
	<div class="modal-content">
		<div class="row">
			<% if (p.images.square) { %>
				<div class="small-12 medium-5 large-4 columns">
					<div class="photo-container">
						<img src="<%= p.images.square %>"/>
					</div>
				</div>
			<% } %>
			<div class="small-12<%= p.images.square ? ' medium-7 large-8' : '' %> columns">
				<div class="actions">
					<% if (p.local_filename) { %>
						<div class="loading-button">
							<a class="remove idle" href="#">
								<i class="icon-trash with-separator" title="Remove from {{variantData['productName']}}"></i>
							</a>
							<span class="loading"><i class="icon-rocket-spinner animate-spin"></i></span>
						</div>
						<a class="print" href="#">
							<i class="icon-3d-printer" title="Print"></i>
						</a>
					<% } else { %>
						<a class="download" href="#">
							<i class="icon-download-cloud" title="Download to {{variantData['productName']}}"></i>
						</a>
						<a class="print" href="#">
							<i class="icon-3d-printer" title="Print"></i>
						</a>
					<% } %>
				</div>
				<div class="print-settings">
					<% if (p.local_only) { %>
						This file is <b>only</b> stored on this {{variantData['productName']}}
					<% } else { %>
						<a href="<%= p.printer.info_link %>" target="_astroprint"><%= p.printer.name %></a>
						/
						<a href="<%= p.material.info_link %>" target="_astroprint"><%= p.material.name %></a>
						/
						<% if (p.settings.info_link) { %>
							<a href="<%= p.settings.info_link %>" target="_astroprint"><%= p.settings.name %></a>
						<% } else { %>
							<%= p.settings.name %>
						<% }
					} %>
				</div>
				<div class="print-info">
					<% if (p.info) { %>
						<% if (p.info.size) { %>
							<b>Model Size:</b> <span class="hl"><%= p.info.size.x.toFixed(2) %></span> x <span class="hl"><%= p.info.size.y.toFixed(2) %></span> x <span class="hl"><%= p.info.size.z.toFixed(2) %></span> mm<br/>
						<% } %>
						<% if (p.info.print_time) { %>
							<b>Print Time:</b> <span class="hl"><%= time_format(p.info.print_time) %></span><br/>
							<% if (p.info.layer_height) { %>
								<b>Layer Height:</b> <span class="hl"><%= p.info.layer_height %></span> mm<br/>
							<% } %>
							<% if (p.info.layer_count) { %>
								<b>Number of Layers:</b> <span class="hl"><%= p.info.layer_count %></span><br/>
							<% } %>
						<% } %>
						<% if (p.info.filament_volume) { %>
							<b>Filament Used:</b> <span class="hl"><%= p.info.filament_volume ? (p.info.filament_volume/1000).toFixed(2) : '--' %></span> cm<sup>3</sup>
						<% } %>
					<% } else { %>
						<i class="icon-rocket-spinner animate-spin"></i> Analyzing G-Code
					<% } %>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/template" id="print-file-template">
	<div class="small-2 large-1 columns left-section">
		<% if (p.images.thumbnail) { %>
			<div class="thumb-container">
				<img src="<%= p.images.thumbnail %>"/>
			</div>
		<% } else { %>
			<i class="icon-3d-object"></i>
		<% } %>
	</div>
	<div class="small-8 large-10 columns middle-section">
		<h3 class="bold"> <%= p.name %></h3>
		<b><%= size_format(p.size) %></b>
		<% if (p.info) { %>
			<% if (p.info.print_time) { %>
				· <i class="icon-stopwatch" title="Print Time"></i> <%= time_format(p.info.print_time) %>
			<% } %>
		<% } else { %>
			· <i class="icon-rocket-spinner animate-spin"></i> Analyzing G-Code
		<% } %>
	</div>
	<div class="small-2 large-1 columns right-section">
		<div class="print-file-options">
			<% if (p.local_filename) { %>
				<div class="loading-button print">
					<a href="#" class="print idle">
						<i class="icon-3d-printer" title="Print"></i>
					</a>
					<span class="loading"><i class="icon-rocket-spinner animate-spin"></i></span>
				</div>
			<% } else { %>
				<a href="#" class="download">
					<i class="icon-download-cloud" title="Download to {{variantData['productName']}}"></i>
				</a>
				<div class="download-progress">
					<a href="#" class="dw-cancel"><i class="icon-cancel-circled" title="Cancel download"></i></a>
					<span class="bold">0<i>%</i></span>
				</div>
			<% } %>
		</div>
	</div>
</script>