<div class="row large-collapse">
  <div class="small-12 columns title-heading">
    <h1 class="bold">{{astroboxName}} · Help</h1>
  </div>
</div>
<div class="content">
  <h1 align="center"><img src="static/img/life-saver.png" alt="life saver icon"/></h1>
  <div class="help-link-container">
    <h4 class="bold text-center uppercase">
      Are you having issues with your AstroBox?
    </h4>
    <h5 class="bold text-center uppercase">
      Here are a few ways to get help
    </h5>
    <ul>
      <li class="row">
        <div class="small-12 large-6 columns">
          <h5 class="bold">Check out our community forum:</h5>
        </div>
        <div class="small-12 large-6 columns">
          <a href="https://forum.astroprint.com" target="_help" class="button success small radius">Open Forum <i class="icon-link-ext"></i></a>
        </div>
      </li>
      <li class="row">
        <div class="small-12 large-6 columns">
          <h5 class="bold">Check out our knowledge base:</h5>
        </div>
        <div class="small-12 large-6 columns">
          <a href="https://astroprint.zendesk.com" target="_help" class="button success small radius">Search Knowledge Base <i class="icon-link-ext"></i></a>
          <a href="https://astroprint.zendesk.com/hc/en-us/sections/200274089-FAQ" target="_help" class="button success small radius">Read FAQ <i class="icon-link-ext"></i></a>
        </div>
      </li>
      <li class="row">
        <div class="small-12 large-6 columns">
          <h5 class="bold">Send us a support request:</h5>
        </div>
        <div class="small-12 large-6 columns">
          <a href="https://astroprint.zendesk.com/hc/en-us/requests/new" target="_help" class="button success small radius">Create Support Request <i class="icon-link-ext"></i></a>
        </div>
      </li>
    </ul>
  </div>
</div>
