<div class="row large-collapse">
  <div class="small-12 columns title-heading">
    <h1 class="bold">Help</h1>
  </div>
</div>
<div class="content">
  <h1 align="center"><i class="icon-lifebuoy"></i></h1>
  <p>
    Are you having issues with your AstroBox? Sorry about that :(
  </p>
  <p>
    Here are a few ways to get help from our community or us:
  </p>
  <ul>
    <li>
      Check out our community forum
      <a href="https://forum.astroprint.com" target="_help" class="button success">Open Forum <i class="icon-link-ext"></i></a>
    </li>
    <li>
      Check out our knowdledg base
      <a href="https://astroprint.zendesk.com" target="_help" class="button success">Search Knowledge Base <i class="icon-link-ext"></i></a>
      <a href="https://astroprint.zendesk.com/hc/en-us/sections/200274089-FAQ" target="_help" class="button success">Read FAQ <i class="icon-link-ext"></i></a>
    </li>
    <li>
      Send us a support request
      <a href="https://astroprint.zendesk.com/hc/en-us/requests/new" target="_help" class="button success">Create Support Request <i class="icon-link-ext"></i></a>
    </li>
  </ul>
</div>
