<div class="row">
	<div class="small-12 columns" align="center">
		<div class="design-file-upload">
			<span class="file-upload-button button success radius" style="margin-bottom: 10px">
				<i class="icon-upload-cloud-1"></i> Upload Design File
				<input class="file-upload" type="file" name="file" data-url="/api/astroprint/upload">
			</span>
			<div class="progress file-upload-progress radius" style="display:none">
				<div class="meter" style="width: 0%"></div>
			</div>
		</div>
	</div>
	<div class="design-list small-12 columns">
		<h3 class="bold">Printable Files {%- if user_email %} <i class="icon-refresh" title="Refresh"></i> {%- endif %}</h3>
		<div class="design-list-container"></div>
	</div>
</div>

<div id="printer-file-info" class="reveal-modal xlarge" data-reveal>
	<div class="dlg-content"></div>
	<a class="close-reveal-modal">&#215;</a>
</div>

<script type="text/template" id="printerfile-info-template">
	<h2 class="bold"><%= p.name %></h2>
	<div class="reveal-content">
		<div class="row">
			<% if (p.images.square) { %>
				<div class="small-12 medium-5 large-4 columns">
					<div class="photo-container">
						<img src="<%= p.images.square %>"/>
					</div>
				</div>
			<% } %>
			<div class="small-12<%= p.images.square ? ' medium-7 large-8' : '' %> columns">
				<div class="actions">
					<% if (p.local_filename) { %>
						<a class="remove" href="#">
							<i class="icon-trash with-separator" title="Remove from AstroBox"></i>
						</a>
						<a class="print" href="#">
							<i class="icon-3d-printer" title="Print"></i>
						</a>
					<% } else { %>
						<a class="download" href="#">
							<i class="icon-download-cloud" title="Download to AstroBox"></i>
						</a>
					<% } %>
				</div>
				<div class="print-settings">
					<% if (p.local_only) { %>
						This file is <b>only</b> stored on this AstroBox
					<% } else { %>
						<a href="<%= p.printer.info_link %>" target="_astroprint"><%= p.printer.name %></a>
						/
						<a href="<%= p.material.info_link %>" target="_astroprint"><%= p.material.name %></a>
						/
						<% if (p.settings.info_link) { %>
							<a href="<%= p.settings.info_link %>" target="_astroprint"><%= p.settings.name %></a>
						<% } else { %>
							<%= p.settings.name %>
						<% }
					} %>
				</div>
				<div class="print-info">
					<b>Model Size:</b> <span class="hl"><%= p.info.size.x.toFixed(2) %></span> x <span class="hl"><%= p.info.size.y.toFixed(2) %></span> x <span class="hl"><%= p.info.size.z.toFixed(2) %></span> mm<br/>
					<b>Print Time:</b> <span class="hl"><%= time_format(p.info.print_time) %></span><br/>
					<b>Layer Height:</b> <span class="hl"><%= p.info.layer_height %></span> mm<br/>
					<b>Number of Layers:</b> <span class="hl"><%= p.info.layer_count %></span><br/>
					<b>Filament Used:</b> <span class="hl"><%= p.info.filament_volume.toFixed(2) %></span> mm<sup>3</sup>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/template" id="print-file-list-template">
	<% if (print_files.length) { %>
		<% _.each(print_files, function(p, idx) { %>
			<div id="print-file-<%= p.id%>" class="row<%= idx % 2 ? ' dark' : '' %><%= p.local_filename ? '' : ' remote' %>" data-printfile-id="<%= p.id %>">
				<div class="small-2 large-1 columns left-section" onclick="home_info_print_file_clicked(this, arguments[0])">
					<% if (p.images.thumbnail) { %>
						<div class="thumb-container">
							<img src="<%= p.images.thumbnail %>"/>
						</div>
					<% } else { %>
						<i class="icon-3d-object"></i>
					<% } %>
				</div>
				<div class="small-8 large-10 columns middle-section" onclick="home_info_print_file_clicked(this, arguments[0])">
					<h3 class="bold"> <%= p.name %></h3>
					<b><%= size_format(p.size) %></b> · <i class="icon-stopwatch" title="Print Time"></i> <%= time_format(p.info.print_time) %>
					<div class="progress round tiny" style="display:none">
						<div class="meter" style="width: 0%"></div>
					</div>
				</div>
				<div class="small-2 large-1 columns right-section">
					<div class="print-file-options">
						<% if (p.local_filename) { %>
							<a onclick="home_print_print_file_clicked('<%= p.local_filename %>', arguments[0])">
								<i class="icon-3d-printer" title="Print"></i>
							</a>
						<% } else { %>
							<a href="#" onclick="home_download_print_file_clicked('<%= p.id %>', arguments[0])">
								<i class="icon-download-cloud" title="Download to AstroBox"></i>
							</a>
						<% } %>
					</div>
				</div>
			</div>
		<% }); %>
	<% } else { %>
		<div class="empty panel radius" align="center">
			<i class="icon-inbox empty-icon"></i>
			<h3>Nothing here yet.</h3>
		</div>
	<% } %>
</script>