<div class="row heading">
	<div class="small-12 title-heading">
		<h1 class="bold">{{astroboxName}}</h1>
	</div>
</div>

<div id="app-container" class="row">
	<div class="alert-box warning serial-log radius">
		Your serial log is <b>enabled</b>. This will produce a large amount of data - <a href="#settings/software-advanced">Disable here</a>
	</div>
	<ul class="small-block-grid-3 large-block-grid-6">
		<li>
			<span class="upload-btn expand">
				<div class="app-image">
					<img src="/static/img/upload-icon.png" alt="file upload icon"/>
					<div class="overlay">
						<div class="contain"><h4 class="bold">Upload</h4></div>
						<input class="file-upload" type="file" name="file" data-url="/ajax/designs/upload" accept=".stl, .gcode, .gco">
					</div>
					<div class="progress">
						<span class="bold">0<i>%</i></span>
					</div>
					<div class="failed">
						<i class="icon-attention"></i>
					</div>
				</div>
			</span>
			<h1 class="bold">File Uploader</h1>
		</li>
		
		<li>
			<a href="#files"><div class="app-image">
				<img src="/static/img/file-manager-icon.png" alt="file manager icon"/>
				<div class="overlay"><div class="contain"><h4 class="bold">Launch</h4></div></div></div>
			</a>
				<h1 class="bold">File Manager</h1>
		</li>
		<li>
			<a href="#control"><div class="app-image">
				<img src="/static/img/control-icon.png" alt="control icon"/>
				<div class="overlay"><div class="contain"><h4 class="bold">Launch</h4></div></div></div>
			</a>
				<h1 class="bold">Control</h1>
		</li>
		{% if variantData['suppliesLink'] %}
		<li>
			<a href="{{variantData['suppliesLink']}}"><div class="app-image">
				<img src="/static/img/supplies-icon.png" alt="supplies icon"/>
				<div class="overlay"><div class="contain"><h4 class="bold">Launch</h4></div></div></div>
			</a>
				<h1 class="bold">Supplies</h1>
		</li>
		{% endif %}
		<li>
			<a href="#settings"><div class="app-image">
				<img src="/static/img/settings-icon.png" alt="settings icon"/>
				<div class="overlay"><div class="contain"><h4 class="bold">Launch</h4></div></div></div>
			</a>
				<h1 class="bold">Settings</h1>
		</li>
		<li>
			<a href="{{variantData['supportLink']}}"><div class="app-image">
				<img src="/static/img/support-icon.png" alt="support icon"/>
				<div class="overlay"><div class="contain"><h4 class="bold">Launch</h4></div></div></div>
			</a>
				<h1 class="bold">Support</h1>
		</li>
	</ul>
</div>