<div class="row">
	<div class="small-12 columns" align="center">
		<h2 class="bold"> Printing </h2>
		<div class="progress success radius">
			<span class="meter" style="width: 0%"></span>
			<span class="filename"></span>
			<span class="progress-label"></span> 
		</div>
	</div>
</div>

<div class="row print-info">
	<div class="info">
		<div class="small-12 medium-6 columns" align="center">
			<h2 class="bold">Time Remaining</h2>
			<div class="bold">
				<span class="highlighted estimated-hours">--</span>:<span class="highlighted estimated-minutes">--</span>:<span class="highlighted estimated-seconds">--</span>
			</div>
		</div>
		<div class="small-12 medium-6 columns" align="center">
			<h2 class="bold">Printing Layer</h2>
			<div class="bold">
				<span class="current-layer highlighted">-</span> of <span class="highlighted layer-count">-</span>
			</div>
		</div>
	</div>
	<div class="heating">
		<div class="small-12 columns" align="center">
			<i class="icon-temperatire blink-animation"></i>
			<b>Heating up...</b>
		</div>
	</div>
</div>

<div class="row temperatures">
	<div class="small-12 columns">
		<h2 class="bold">Printer Temperature</h2>
		<div class="temp-bar nozzle">
			<h3 class="bold">Current Temp</h3>
			<label class="bold">Nozzle</label>
			<div class="temp-curret-line">
				<div class="triangle_left"></div>
				<div class="triangle_right"></div>
			</div>
			<div class="temp-target bold">--</div>
			<div class="temp-current bold">--</div>
		</div>
		<div class="temp-bar bed">
			<label class="bold">Bed</label>
			<div class="temp-curret-line">
				<div class="triangle_left"></div>
				<div class="triangle_right"></div>
			</div>
			<div class="temp-target bold">--</div>
			<div class="temp-current bold">--</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="small-12 medium-4 columns" align="center">
		<button class="success radius pause-print"><i class="icon-pause"></i> Pause Print</button>
	</div>
	<div class="small-12 medium-4 columns" align="center">
		<button class="radius controls" style="display:none"><i class="icon-move"></i> Printer Controls</button>
	</div>
	<div class="small-12 medium-4 columns" align="center">
		<button class="alert radius stop-print"><i class="icon-cancel-circled"></i> Cancel Print</button>
	</div>
</div>