<div class="row">
	<div class="small-12 columns" align="center">
		<i class="icon-refresh animate-spin"></i>
		<h1 class="bold loading">Rebooting...</h1>
		<h2 class="bold done">Wait a minute for controller to reboot and refresh this page.</h2>
	</div>
</div>

<div id="reboot-modal" class="reveal-modal medium radius" data-reveal align="center">
	<h2 class="bold">Restart Controller</h2>
	<div class="modal-body">
		<p>The Controller will restart. Any active print job will be stopped.</p>
		<p>Are you sure?</p>
	</div>
	<div class="row">
		<div class="small-12 medium-6 columns">
			<button class="secondary radius expand">Cancel</button>
		</div>
		<div class="small-12 medium-6 columns">
			<button class="alert radius expand">Yes, Restart</button>
		</div>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>
