<div class="row heading">
	<div class="small-12 title-heading">
		<h1 class="bold">Settings</h1>
	</div>
</div>

<div class="row collapse container">
	<div class="hide-for-small-only medium-5  large-4 columns">
		<div id="settings-side-bar">
			<ul class="side-nav">
				<li class="heading bold">Printer</li>
				<li class="active printer-connection"><a href="#settings/printer-connection">Connection</a></li>
				<li class="printer-profile dotted"><a href="#settings/printer-profile">Profile</a></li>
				<li class="heading bold">Internet</li>
				<li class="internet-connection"><a href="#settings/internet-connection">Connection</a></li>
				<li class="heading bold">Software</li>
				<li class="software-update"><a href="#settings/software-update">Update</a></li>
				<li class="software-advanced dotted"><a href="#settings/software-advanced">Advanced</a><li>
			</ul>
		</div>
	</div>
	<div class="small-12 medium-7 large-8 columns">
		
			<div class="show-for-small zebra">
				<h1 class="bold" align="center">Printer Connection</h1>
			</div>
			<div id="printer-connection" class="settings-page">
			<div class="row connection-status">
				<div class="small-12">
					<span class="connecting"><i class="icon-rocket-spinner animate-spin"></i> Connecting...</span>
					<span class="failed"><i class="icon-attention"></i> No connection to printer.</span>
					<span class="connected"><i class="icon-3d-printer"></i> Connected to printer.</span>
				</div>
			</div>
			<form></form>
			
		</div>

		<script type="text/template" id="printer-connection-settings-page-template">
			<div class="row">
				<div class="small-12">
					<label for="settings-serial-port" class="bold">
						USB Device <small>(<a href="#" class="retry-ports"><i class="icon-refresh"></i> Re-scan</a>)</small>
						<% if (settings.serial.portOptions.length > 0) { %>
							<% if (settings.serial.portOptions.length > 1) { %>
								<select id="settings-serial-port" name="port">
									<% _.each(settings.serial.portOptions, function(e) { %>
										<option value="<%= e[0] %>"<%= settings.serial.port == e[0] ? ' selected' : '' %>><%= e[1] %></option>
									<% }) %>
								</select>
							<% } else { %>
								<% var e = settings.serial.portOptions[0] %>
								<input type="hidden" value="<%= e[0] %>" name="port"/>
								<p><%= e[1] %></p>
							<% } %>
						<% } else { %>
							<p>
							No printer detected. Is your printer plugged in?<br/>
							<a href="#" class="retry-ports bold">Plug printer and retry &raquo; </a>
							</p>
						<% } %>
					</label>
				</div>
			</div>
			<% if (settings.serial.portOptions.length > 0 && settings.serial.baudrateOptions.length > 0) { %>
				<div class="row">
					<div class="small-12">
						<label for="settings-baudrate" class="bold">Baud Rate
							<select id="settings-baudrate" name="baudrate">
								<% _.each(settings.serial.baudrateOptions, function(e) { %>
									<option value="<%= e %>"<%= settings.serial.baudrate == e[0] ? ' selected' : '' %>><%= e %></option>
								<% }) %>
							</select>
						</label>
					</div>
				</div>
			<% } %>
			<% if (settings.serial.portOptions.length > 0 && ( settings.serial.baudrateOptions.length > 0 || settings.driver == 's3g') )  { %>
				<div align="center">
					<div class="loading-button test-connection">
						<button class="success radius">Test Connection</button>
						<span class="button disabled radius success loading">Connecting...</span>
					</div>
				</div>
			<% } %>
		</script>

		<div class="show-for-small zebra">
			
			<h1 class="bold" align="center">Printer Profile</h1>
		</div>
		<div id="printer-profile" class="settings-page hide">
			<script type="text/template" id="printer-profile-settings-page-template">
				<div class="row">
					<div class="small-12">
						<form data-abide="ajax">
							<label for="settings-printer-driver" class="bold">
								Driver
								<select id="settings-printer-driver" name="driver">
									<option value="marlin" <%= settings.driver == 'marlin' ? 'selected' : '' %>>GCODE - Marlin firmware</option>
									<option value="s3g" <%= settings.driver == 's3g' ? 'selected' : '' %>> X3G - Sailfish / Makerbot firmware</option>
								</select>
							</label>
							<label for="extruder-count" class="bold">
								No. of Extruders
							</label>
							<select id="extruder-count" name="extruder_count">
								<option value='1'>1</option>
								<option value='2'>2</option>
								<option value='3'>3</option>
								<option value='4'>4</option>
							</select>
							<div class="input-wrapper">
								<label for="max-nozzle-temp" class="bold">
									Max. Nozzle Temperature
								</label>
								<div class="row collapse">
							        <div class="small-9 columns">
							        	<input id="max-nozzle-temp" name="max_nozzle_temp" type="text" value="<%= settings.max_nozzle_temp %>" required pattern="integer"/>
							        	<small class="error">Invalid Nozzle Temperature.</small>
							        </div>
							        <div class="small-3 columns"><span class="postfix">&deg;C</div>
							    </div>
							</div>
							<label for="heated-bed" class="bold">
								Heated Bed
							</label>
							<div class="switch radius">
							  <input id="heated-bed" name="heated_bed" type="checkbox" <% if (settings.heated_bed) { %> value="yes" checked<% } %>>
							  <label for="heated-bed"></label>
							</div>
							<div class="input-wrapper max_bed_temp<% if (!settings.heated_bed) { %> hide<% } %>">
								<label for="max-bed-temp" class="bold">
									Max. Bed Temperature
								</label>
								<div class="row collapse">
							        <div class="small-9 columns">
							        	<input id="max-bed-temp" name="max_bed_temp" type="text" value="<%= settings.max_bed_temp %>" required pattern="integer"/>
							        	<small class="error">Invalid Bed Temperature.</small>
							        </div>
							        <div class="small-3 columns"><span class="postfix">&deg;C</div>
							    </div>
							</div>
							<hr/>
							<div class="loading-button">
								<button class="success radius">Save Profile</button>
								<span class="loading button radius success disabled"><i class="icon-rocket-spinner animate-spin"></i> Saving...</span>
							</div>
						</form>
					</div>
				</div>
			</script>
		</div>

		<div class="show-for-small zebra">
			<h1 class="bold" align="center">Internet Connection</h1>
		</div>
		<div id="internet-connection" class="settings-page hide"></div>
		<div id="wifi-network-list-modal" class="reveal-modal medium radius" data-reveal align="center">
			<h2 class="bold">Select a WiFi Network</h2>
			<div class="modal-content"></div>
			<div class="modal-actions">
				<button class="secondary radius" onclick="$('#wifi-network-list-modal').foundation('reveal', 'close')">Cancel</button>
			</div>
			<a class="close-reveal-modal">&#215;</a>
		</div>
		<div id="wifi-network-password-modal" class="reveal-modal medium radius" data-reveal align="center">
			<h2 class="bold">WiFi Password</h2>
			<div class="modal-content">
				<p align="center">Enter the password for <span class="name bold"></span>.</p>
				<form>
					<input type="hidden" class="network-id-field" name="id"/>
					<input type="password" class="network-password-field" name="password"/>
				</form>
			</div>
			<div class="modal-actions">
				<button class="secondary radius" onclick="$('#wifi-network-password-modal').foundation('reveal', 'close')">Cancel</button>
				<div class="loading-button">
					<button class="radius success connect">Connect</button>
					<span class="loading button success disabled radius">
						<i class="icon-rocket-spinner animate-spin"></i> Might be a while. Please be patient...
					</span>
				</div>
			</div>
			<a class="close-reveal-modal">&#215;</a>
		</div>

		<script type="text/template" id="internet-connection-settings-page-template">
			<div class="connection">
				<% if (settings.networks.wired) { %>
					<h3 class="bold">Wired Connection</h3>
					<i class="icon-exchange"></i> Connected.
					<div class="ip-address">IP Address: <b><%= settings.networks.wired.ip %></b></div>
				<% } %>
			</div>
			<% if (settings.networks.manual) { %>
				<h3 class="bold">Manually Configured</h3>
				<div>Interface: <b><%= settings.networks.manual.interface %></b></div>			
				<div class="ip-address">IP Address: <b><%= settings.networks.manual.ip %></b></div>	
			<% } %>
			<% if (settings.hasWifi) { %>
				<div class="connection">
					<h3 class="bold">Wireless Connection</h3>
					<% if (settings.networks.wireless) { %>
						<% if (settings.networks.wireless.signal < 33) { %>
							<i class="icon-wifi-signal-low"></i>
						<% } else if (settings.networks.wireless.signal > 33 && settings.networks.wireless.signal < 66) { %>
							<i class="icon-wifi-signal-med"></i>
						<% } else { %>
							<i class="icon-wifi-signal-high"></i>
						<% } %>
						Connected to <b><%= settings.networks.wireless.name %></b>.
						<div class="ip-address">IP Address: <b><%= settings.networks.wireless.ip %></b></div>
					<% } else { %>
						Not Connected.
					<% } %>
					<div class="loading-button list-networks">
						<button class="radius small">Scan WiFi networks</button>
						<span class="loading button disabled radius small">
							<i class="icon-rocket-spinner animate-spin"></i> Looking for Networks...
						</span>
					</div>
				</div>
			<% } %>

			<% if (settings.hotspot && (settings.networks || !settings.hotspot.active)) { %>
				<hr/>
				<h3 class="bold">Local Hotspot</h3>
				<div>
					<% if (settings.hotspot.active) { %>
						<h4>Running a hotspot on <b><%= settings.hotspot.name %></b></h4>
						<div class="loading-button stop-hotspot">
							<button class="radius">Stop hotspot</button>
							<span class="loading button disabled radius">
								<i class="icon-rocket-spinner animate-spin"></i> Stopping Hotspot...
							</span>
						</div>
					<% } else { %>
						<div class="loading-button start-hotspot">
							<button class="radius">Start hotspot</button>
							<span class="loading button disabled radius">
								<i class="icon-rocket-spinner animate-spin"></i> Starting Hotspot...
							</span>
						</div>
					<% } %>
					<div class="row hotspot-off">
						<div class="small-2 large-1 columns">
							<input id="hotspot-off" type="checkbox" <% if (settings.hotspot.hotspotOnlyOffline) { %> value="yes" checked <% } %>>
						</div>
						<div class="small-10 large-11 columns">
							<label for="hotspot-off">
								<b>Turn hotspot off when a known network is found in the future.</b>
							</label>
						</div>
					</div>
				</div>
			<% } %>
		</script>
		<script type="text/template" id="wifi-network-modal-row">
			<table>
			<% _.each(networks, function(n) { %>
				<tr>
					<td>
						<% if (n.signal < 33) { %>
							<i class="icon-wifi-signal-low"></i>
						<% } else if (n.signal > 33 && n.signal < 66) { %>
							<i class="icon-wifi-signal-med"></i>
						<% } else { %>
							<i class="icon-wifi-signal-high"></i>
						<% } %>
						<% if (n.secured) { %><i class="icon-lock"></i><% } %>
					</td>
					<td class="network-name"><%= n.name %></td>
					<td>
						<% if (n.active) { %>
							<div class="active-network"><i class="icon-exchange"></i></div>
						<% } else { %>
							<div class="loading-button">
								<button class="radius success tiny" data-id="<%= n.id %>" data-secured="<%= n.secured ? 1 : 0 %>" data-name="<%= n.name %>">Connect</button>
								<span class="loading button disabled success tiny radius">
									<i class="icon-rocket-spinner animate-spin"></i> Please be patient...
								</span>
							</div>
						<% } %>
					</td>
				</tr>
			<% }); %>
			</table>
		</script>

		<div class="show-for-small zebra software">
			<h1 class="bold" align="center">Software</h1>
		</div>
		<div id="software-update" class="settings-page hide" align="center">
			<h4 align="center"><b>{{version}}</b> Installed.</h4>
			<div class="loading-button check">
				<button class="success radius">Check for updates</button>
				<span class="button success radius loading"><i class="icon-rocket-spinner animate-spin"></i> Checking...</span>
			</div>
		</div>
		<div id="software-update-modal" class="reveal-modal medium radius" data-reveal>
			<div class="content"></div>
			<a class="close-reveal-modal">&#215;</a>
		</div>
		<script type="text/template" id="software-update-modal-content">
			<h2 class="bold">
				<% if (data.update_available && !data.is_current) { %> Update <% } else { %> No Updates <% } %> Available
			</h2>
			<% if (data.update_available) { %>
				<div class="modal-content">
					<p>
					<% if (data.is_current) { %>
						Currently installed: <b><%= data.release.major+'.'+data.release.minor+'('+data.release.build+')'%></b>
					<% } else { %>
						Version: <big class="bold"><%= data.release.major+'.'+data.release.minor+'('+data.release.build+')'%></big>
						<br/>Published: <b><%= data.release.date ? date_format(new Date(data.release.date)) : 'Not Published.' %></b>
					<% } %>
					<% if (data.release.force_setup) { %>
						<br/><i class="icon-attention"></i> You would need to complete the setup wizard after installing this release.
					<% } %>
					</p>
					<p>
						<b>Release Notes:</b><br/>
						<%= data.release.release_notes %>
					</p>
				</div>
			<% } %>
			<div class="modal-actions">
				<button class="secondary radius<% if (data.update_available) { %> left<% } %> cancel">Cancel</button>
				<% if (data.update_available) { %>
					<div class="loading-button right">
						<button class="success radius go"><% if (data.is_current) { %>Re-install<% } else { %>Update<% } %></button>
						<span class="button disabled success radius loading">
							<i class="icon-rocket-spinner animate-spin"></i> Initiating...<span>
						</span>
					</div>
				<% } %>
			</div>
		</script>

		<div id="software-advanced" class="settings-page hide" align="center"></div>
		<script type="text/template" id="software-advanced-content-template">
			<h4 class="bold">Factory Settings</h4>
			<button class="alert radius" data-reveal-id="restore-confirm-modal">Restore Factory Settings</button>
			<hr/>
			<h4 class="bold">Logs</h4>
			<button class="secondary radius" data-reveal-id="send-logs-modal">Send logs to AstroPrint</button><br/>
			Size of logs directory: <span class="size bold"><%= size_format(data.sizeLogs) %></span> <button class="secondary radius tiny" data-reveal-id="delete-logs-modal">Clear</button>
			<div class="row serial-container">
				<div class="small-2 large-1 columns">
					<input id="serial-logs" type="checkbox" <% if (data.serialActivated) { %> value="yes" checked <% } %>/>
				</div>
				<div class="small-10 large-11 columns">
					<label for="serial-off">
						<b>
							Turn on serial logs. 
						</b>
						<i class="icon-attention"></i>You should only use this while helping solve a 
							communication problem with your printer. This generates a large amount of data.
					</label>
				</div>
			</div>
		</script>

		<div id="restore-confirm-modal" class="reveal-modal medium radius" data-reveal>
			<h2 class="bold">Are you sure?</h2>
			<div class="modal-content">
				<p>This will delete all your settings and files from this {{variantData['productName']}}.</p>
				<p>
					<label for="confirmation">
						<b>Write "RESET" to confirm</b>
						<input type="text"/>
					</label>
				</p>
			</div>
			<div class="modal-actions">
				<button class="secondary radius left">Cancel</button>
				<div class="loading-button right">
					<button class="alert radius">Reset</button>
					<span class="button disabled alert radius loading"><i class="icon-rocket-spinner animate-spin"></i> Resetting...</span>
				</div>
			</div>
			<a class="close-reveal-modal">&#215;</a>
		</div>

		<div id="send-logs-modal" class="reveal-modal medium radius" data-reveal>
			<h2 class="bold">Send logs to AstroPrint</h2>
			<div class="modal-content">
				<p>This sends us your device logs so that help you analyze your problem.</p>
				<p>
					<label>
						Do you have a support ticket?
						<input type="text" name="ticket" placeholder="Enter support ticket # or leave empty"/>
					</label>
					<textarea name="message" placeholder="Let us know what's going on (optional)"></textarea>
				</p>
			</div>
			<div class="modal-actions">
				<button class="secondary radius left">Cancel</button>
				<div class="loading-button right">
					<button class="success radius">Send Logs</button>
					<span class="button disabled success radius loading"><i class="icon-rocket-spinner animate-spin"></i> Sending...</span>
				</div>
			</div>
			<a class="close-reveal-modal">&#215;</a>
		</div>

		<div id="delete-logs-modal" class="reveal-modal medium radius" data-reveal>
			<h2 class="bold">Delete AstroPrint logs</h2>
			<div class="modal-content">
				<p>
					This will delete all your past AstroPrint logs. It will help save space but might 
					prevent us from researching a past problem you might have had.
				</p>
				<p>
					Are you sure you want to delete all logs?
				</p>
			</div>
			<div class="modal-actions">
				<button class="secondary radius left">Cancel</button>
				<div class="loading-button right">
					<button class="alert radius">Delete Logs</button>
					<span class="button disabled alert radius loading"><i class="icon-rocket-spinner animate-spin"></i> Deleting...</span>
				</div>
			</div>
			<a class="close-reveal-modal">&#215;</a>
		</div>
	</div>
</div>