{% extends 'base.jinja2' %}

{% block css %}
	{% assets filters="scss", output="css/gen/setup.css", 
		"css/scss/setup.scss" %}
		<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
	{% endassets %}
{% endblock %}

{% block content %}
<div id="setup-view" class="row">
	<div class="small-12 large-8 large-centered columns" align="center">
		<div id="step-welcome" class="step hide">
			<h1 class="bold">Welcome to Your <span class="light">Astro</span>Box&trade;<div class="nub"></div></h1>
			<div class="content" align="center">
				<img src="/img/setup/step_1_rocket.png" height="104"/>
				<h2 class="bold">Thanks for backing us on <img src="/img/kickstarter_logo.png"/></h2>
				<p>
					Your support has made AstroPrint™ a reality! In other words, 
					you are amazing and you are changing the world for the better!
				</p>
				<a class="button success radius expand bold" href="#name">Begin Setup</i></a>
			</div>
		</div>

		<div id="step-name" class="step hide">
			<h1 class="bold">Name Your <span class="light">Astro</span>Box&trade;<div class="nub"></div></h1>
			<div class="content">
				<img src="/img/setup/step_2_rocket.png" height="104"/>
				<p>
					If you have more than one AstroBox, make sure and give them different names!
				</p>
				<div class="settings-state">
					<form align="center">
						<label for="astrobox-name">
							<b>AstroBox Name:</b>
							<input id="astrobox-name" class="radius" type="text" name="name" autocomplete="off"/>
						</label>
						<p>
							A few important things to remember:
						</p>
						<ul class="preview">
							<li><i class="icon-signal"></i> Hotspot WiFi name: <span class="hotspot-name bold"></span></li>
							<li><i class="icon-link"></i> AstroBox URL: http://<span class="astrobox-url bold"></span>.local</li>
						</ul>
						<div class="loading-button expand">
							<a class="button success radius submit-action expand" href="#internet"><small>Next:</small> <b>Internet Setup</b> <i class="icon-right-open"></i></a>
							<span class="button success disabled radius loading expand"><i class="icon-rocket-spinner animate-spin"></i> Saving...</span>
						</div>
					</form>
				</div>
				<div class="checking-state" align="center">
					<i class="icon-rocket-spinner animate-spin"></i>
					<h3 class="bold" align="center">Checking name...</h3>
				</div>
				<div class="failed-state" align="center">
					<i class="icon-cancel-circled failed"></i>
					<h3 class="bold" align="center"></h3>
					<button class="success radius">Retry</button>
				</div>
			</div>
		</div>

		<div id="step-internet" class="step hide">
			<h1 class="bold">Internet Setup<div class="nub"></div></h1>
			<div class="content">
				<div class="success-state" align="center">
					<img src="/img/setup/step_4_wifi-box.png" height="107"/>
					<h3 class="bold" align="center">Success!</h3>
					<p>
						Your AstroBox is now connected to the internet.
					</p>
					<a class="button success radius expand" href="#astroprint"><small>Next:</small> <b>AstroPrint Account</b> <i class="icon-right-open"></i></a>
				</div>
				<div class="checking-state" align="center">
					<i class="icon-rocket-spinner animate-spin"></i>
					<h3 class="bold" align="center">Checking connection...</h3>
				</div>
				<div class="failed-state" align="center">
					<i class="icon-cancel-circled failed"></i>
					<h3 class="bold" align="center"></h3>
					<button class="success radius expand">Retry</button>
					<div align="right">
						<a href="#connect-printer" class="skip-step">Skip internet. Use AstroBox offline <i class="icon-right-open"></i></a>
					</div>
				</div>
				<div class="settings-state">
					<h2 class="bold" align="center">Choose your WiFi Network</h2>
					<div class="wifi-network-list"></div>
					<div class="row">
						<div class="loading-button expand">
							<div class="small-12 medium-6 medium-push-6 columns">
								<button class="disabled success radius connect expand bold">Connect</button>
							</div>
							<div class="small-12 medium-6 medium-pull-6 columns">
								<a href="#connect-printer" class="button secondary radius expand bold"><sup>*</sup>Skip</a>
							</div>
							<div class="small-12 columns">
								<span class="button disabled loading success radius expand">
									<i class="icon-rocket-spinner animate-spin"></i> Might be while. Please be patient...
								</span>
							</div>
						</div>
					</div>
					<p class="small">
						<sup>*</sup> Without being connected to the internet, you can only 
						use the AstroBox when you are near it. 
					</p>
				</div>
			</div>

			<div id="wifi-network-password-modal" class="reveal-modal medium radius" data-reveal align="center">
				<h2 class="bold">WiFi Password</h2>
				<p align="center">Enter the password for <span class="name bold"></span>.</p>
				<form>
					<input type="hidden" class="network-id-field" name="id"/>
					<input type="text" class="network-password-field" name="password"/>
					<div class="loading-button">
						<a class="button secondary radius cancel" href="#internet">Cancel</a>
						<input type="submit" class="button radius success connect" value="Connect"/>
						<span class="loading button success disabled radius">
							<i class="icon-rocket-spinner animate-spin"></i> Might be while. Please be patient...
						</span>
					</div>
				</form>
				<a class="close-reveal-modal">&#215;</a>
			</div>

			<script type="text/template" id="wifi-network-list-template">
				<ul>
				<% _.each(networks, function(n, idx) { %>
					<li data-id="<%= idx %>">
						<span class="name left"><%= n.name %></span>
						<span class="indicators right">
							<% if (n.secured) { %><i class="icon-lock"></i><% } %>
							<% if (n.signal < 33) { %>
								<i class="icon-wifi-signal-low"></i>
							<% } else if (n.signal > 33 && n.signal < 66) { %>
								<i class="icon-wifi-signal-med"></i>
							<% } else { %>
								<i class="icon-wifi-signal-high"></i>
							<% } %>
						</span>
						<div class="clearfix"></div>
					</li>
				<% }); %>
				</ul>
			</script>
		</div>

		<div id="step-astroprint" class="step hide">
			<h1 class="bold">AstroPrint.com Account<div class="nub"></div></h1>
			<div class="content">
				<div class="checking-state" align="center">
					<i class="icon-rocket-spinner animate-spin"></i>
					<h3 class="bold" align="center">Checking AstroPrint.com...</h3>
				</div>
				<div class="success-state" align="center">
					<img src="/img/setup/step_5_rocket-launch.png" height="93"/>
					<h4 class="bold" align="center">
						<i class="icon-user ok"></i>
						<span class="email"></span>
						(<a class="logout" href="#">Logout</a>)
					</h4>
					<a class="button success radius expand" href="#connect-printer"><small>Next:</small> <b>Printer Connection</b> <i class="icon-right-open"></i></a>
				</div>
				<div class="settings-state">
					<img src="/img/setup/step_5_rocket-launch.png" height="93"/>
					<p>
						This allows you to slice, store, and print through our cloud servers. Sign in below or <a target="_astroprint" href="http://www.astroprint.com/account/signup">create a new account</a>.
					</p>
					<form>
						<label for="email">
							<i class="icon-user"></i> <b>Email</b> (<a target="_astroprint" href="http://www.astroprint.com/account/signup">don't have account?</a>)
							<input type="email" id="email" class="radius" name="email"/>
						</label>
						<label for="password">
							<i class="icon-lock"></i> <b>Password</b> (<a target="_astroprint" href="http://www.astroprint.com/account/forgot">forgot?</a>)
							<input type="password" id="password" class="radius" name="password"/>
						</label>
						<div align="center">
							<div class="loading-button expand">
								<button class="success radius submit-action expand" href="#connect-printer"><small>Next:</small> <b>Printer Connection</b> <i class="icon-right-open"></i></button>
								<span class="button success disabled radius loading expand"><i class="icon-rocket-spinner animate-spin"></i> Logging in...</span>
							</div>
						</div>
					</form>
					<div align="right">
						<a href="#connect-printer" class="skip-step">Skip AstroPrint Account <i class="icon-right-open"></i></a>
					</div>
				</div>
			</div>
		</div>

		<div id="step-connect-printer" class="step hide">
			<h1 class="bold">Connect Your Printer<div class="nub"></div></h1>
			<div class="content">
				<img src="/img/setup/step_6_connect-box.png" height="90"/>
				<p align="center">
					Plug your printer's USB in the AstroBox and click continue when done.
				</p>
				<a href="#printer" class="button success radius share-button bold expand">Continue</a>
				<div align="right">
					<a class="skip-step" href="#share">Skip and Configure Later <i class="icon-right-open"></i></a>
				</div>
			</div>
		</div>

		<div id="step-printer" class="step hide">
			<h1 class="bold">Connect Your Printer<div class="nub"></div></h1>
			<div class="content">
				<img src="/img/setup/step_6.2_connected-box.png" height="76"/>
				<div class="checking-state" align="center">
					<i class="icon-rocket-spinner animate-spin"></i>
					<h3 class="bold" align="center">Checking Printer Settings...</h3>
				</div>
				<div class="settings-state">
					<p>
						Select your settings from the dropdown lists.
					</p>
					<form>
						<label for="port">
							<b>USB Port</b>
							<select id="port" name="port">
							</select>
						</label>
						<label for="baud-rate">
							<b>Baud Rate</b>
							<select id="baud-rate" name="baudrate">
							</select>
						</label>
						<div align="center">
							<div class="loading-button expand">
								<button class="button success radius submit-action expand bold" href="#share">Connect</button>
								<span class="button success disabled radius loading expand"><i class="icon-rocket-spinner animate-spin"></i> Connecting...</span>
							</div>
						</div>
					</form>
					<div align="right">
						<a href="#share" class="skip-step">Skip Printer Connection <i class="icon-right-open"></i></a>
					</div>
				</div>
			</div>
		</div>

		<div id="step-share" class="step hide">
			<h1 class="bold">You're done!<div class="nub"></div></h1>
			<div class="content">
				<img src="/img/setup/final_step_astroprint_logo.png" height=""/>
				<p>
					<b>Congratulations!</b> Your AstroBox is all set up. Now go print 
					something awesome or if you are feeling generous share the love!
				</p>
				<button class="radius share-button facebook bold expand"><i class="icon-facebook-squared"></i> Share</button>
				<button class="radius share-button twitter bold expand"><i class="icon-twitter"></i> Tweet</button>
				<a class="button radius success bold setup-done expand" style="display:none" href="#">Start Printing!</a>
				<div align="right">
					<a class="setup-done skip-step" href="#">Skip Sharing and Start Printing! <i class="icon-right-open"></i></a>
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		var UI_API_KEY = "{{ uiApiKey }}";
		var BASEURL = "{{ url_for('index') }}";
		var API_BASEURL = BASEURL + "api/";
		var SOCKJS_URI = window.location.protocol.slice(0, -1) + "://" + (window.document ? window.document.domain : window.location.hostname) + ":" + window.location.port + "/sockjs";
	</script>
	{% assets filters="closure_js", output="js/gen/setup.js", 
		"js/lib/jquery.js", "js/lib/underscore.js", "js/lib/backbone.js", "js/lib/fastclick.js", "js/lib/foundation/foundation.js", "js/lib/foundation/foundation.abide.js", "js/lib/foundation/foundation.reveal.js",
		"js/lib/jquery.noty.js", "js/lib/jquery.noty.top.js", "js/lib/sockjs.js",
		"js/setup/setup.js" -%}
			<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{%- endassets %}
	<script type="text/javascript">
		$(document).foundation();
	</script>
{% endblock %}