<div class="row large-collapse">
	<div class="small-12 columns title-heading">
		<h1 class="bold">Supplies</h1>
	</div>
</div>
<div class="content">
	<div>
		<div class="row">
			<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
			  <li>
			  	<div class="box text-center">
			  		<h3 class="bold">Filament1</h3>
			  		<a href="http://www.google.com" target="_blank">
						<img src="/static/img/upload-icon.png" alt="Filament1"/>
					</a>
					<div class="description">
						<h4 class="bold">Description</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In feugiat diam ligula. Proin ultrices, tortor dapibus tincidunt ullamcorper, lorem ligula aliquam ligula, ut consequat erat neque a elit.</p>
					</div>
				</div>
			  </li>
			  <li>
			  	<div class="box text-center">
			  		<h3 class="bold">Filament2</h3>
			  		<a href="http://www.google.com" target="_blank">
						<img src="/static/img/upload-icon.png" alt="Filament2"/>
					</a>
					<div class="description">
						<h4 class="bold">Description</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In feugiat diam ligula. Proin ultrices, tortor dapibus tincidunt ullamcorper, lorem ligula aliquam ligula, ut consequat erat neque a elit.</p>
					</div>
				</div>
			  </li>
			  <li>
			  	<div class="box text-center">
			  		<h3 class="bold">Filament3</h3>
			  		<a href="http://www.google.com" target="_blank" class="text-center">
						<img src="/static/img/upload-icon.png" alt="Filament3"/>
					</a>
					<div class="description">
						<h4 class="bold">Description</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In feugiat diam ligula. Proin ultrices, tortor dapibus tincidunt ullamcorper, lorem ligula aliquam ligula, ut consequat erat neque a elit.</p>
					</div>
				</div>
			  </li>
			</ul>
		</div>
	</div>
</div>
