<div class="row large-collapse">
	<div class="small-12 columns title-heading">
		<h1 class="bold">{{astroboxName}} · Supplies</h1>
	</div>
</div>
<div class="content">
	<div>
		<div class="row collapse">
			<div class="small-12 columns text-center supplies-heading">
				<h3 class="bold">Click Below to Get Filament From One of Our Trusted Partners.</h3>
				<p class="bold">All three suppliers will ship worldwide, however shipping costs are significantly cheaper if you live in their region.</p>
			</div>
		</div>
		<div class="row">
			<ul class="small-block-grid-1 large-block-grid-3" data-equalizer>
			  <li>
			  	<div class="box text-center" data-equalizer-watch>
			  		<a href="http://colorfabb.com?acc=70efdf2ec9b086079795c442636b55fb" target="_blank" title="Go to ColorFabb.com">
						<img src="/static/img/supplies/colorfabb.png" alt="ColorFabb"/>

						<div class="description">
							<h4 class="bold">ColorFabb</h4>
							<p>One of the top filament brands of Europe, ColorFabb carries everything from standard PLA to metal filled plastics. <br> <span>Ships from the Netherlands with free shipping to most EU countries.</span></p>
						</div>
						<button class="success radius bold">Check it Out</button>
					</a>
				</div>
			  </li>
			  <li>
			  	<div class="box text-center" data-equalizer-watch>
			  		<a href="http://filaments.ca?rfsn=259030.49e8e6" target="_blank" title="Go to Filaments.ca">
						<img src="/static/img/supplies/filaments-ca.png" alt="Filaments.ca"/>

						<div class="description">
							<h4 class="bold">Filaments.ca</h4>
							<p>Ships filaments from over 10 major brands.  eSUN, PolyMaker, Proto-pasta, NinjaFlex, and many others. <br> <span>Ships from Mississauga, Ontario, Canada.  Free shipping within Canada for orders over $125.</span></p>
						</div>
						<button class="success radius bold">Check it Out</button>
					</a>
				</div>
			  </li>
			  <li>
			  	<div class="box text-center" data-equalizer-watch>
			  		<a href="http://www.shareasale.com/r.cfm?b=482769&u=1319816&m=47504&urllink=&afftrack=" target="_blank" class="text-center" title="Go to MakerGeeks.com">
						<img src="/static/img/supplies/makergeeks.png" alt="MakerGeeks"/>

						<div class="description">
							<h4 class="bold">MakerGeeks</h4>
							<p>Ginormous selection of filaments!  If MakerGeeks doesn’t stock it, you probably don’t need it. <br> <span>Ships from Springfield, Montana, USA.  Free shipping within the USA.</span></p>
						</div>
						<button class="success radius bold">Check it Out</button>
					</a>
				</div>
			  </li>
			</ul>
		</div>
	</div>
</div>
