<div class="row large-collapse">
	<div class="small-12 columns title-heading">
		<h1 class="bold">Supplies</h1>
	</div>
</div>
<div class="content">
	<div>
		<div class="row">
			<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
			  <li>
			  	<div class="box text-center">
			  		<a href="http://colorfabb.com?acc=70efdf2ec9b086079795c442636b55fb" target="_blank" title="Go to ColorFabb.com">
						<img src="/static/img/supplies/colorfabb.png" alt="Filament1"/>

						<div class="description">
							<h4 class="bold">ColorFabb</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In feugiat diam ligula. Proin ultrices, tortor dapibus tincidunt ullamcorper, lorem ligula aliquam ligula, ut consequat erat neque a elit.</p>
						</div>
						<button class="success radius bold">Stockup on ColorFabb Supplies</button>
					</a>
				</div>
			  </li>
			  <li>
			  	<div class="box text-center">
			  		<a href="http://filaments.ca?rfsn=259030.49e8e6" target="_blank" title="Go to Filaments.ca">
						<img src="/static/img/supplies/filaments-ca.png" alt="Filament2"/>

						<div class="description">
							<h4 class="bold">Filaments.ca</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In feugiat diam ligula. Proin ultrices, tortor dapibus tincidunt ullamcorper, lorem ligula aliquam ligula, ut consequat erat neque a elit.</p>
						</div>
						<button class="success radius bold">Buy Now</button>
					</a>
				</div>
			  </li>
			  <li>
			  	<div class="box text-center">
			  		<a href="http://www.shareasale.com/r.cfm?b=482769&u=1319816&m=47504&urllink=&afftrack=" target="_blank" class="text-center" title="Go to MakerGeeks.com">
						<img src="/static/img/supplies/makergeeks.png" alt="Filament3"/>

						<div class="description">
							<h4 class="bold">MakerGeeks</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In feugiat diam ligula. Proin ultrices, tortor dapibus tincidunt ullamcorper, lorem ligula aliquam ligula, ut consequat erat neque a elit.</p>
						</div>
						<button class="success radius bold">Buy Now</button>
					</a>
				</div>
			  </li>
			</ul>
		</div>
	</div>
</div>
