<div class="row">
	<div class="small-12 columns title-heading">
		<h1 class="bold">{{astroboxName}} · GCODE Terminal</h1>
	</div>

	<div class="small-12 columns">
		<div class="alert-box warning terminal radius">
			<i class="icon-attention"> </i> The GCode Terminal is for advanced users. If you are not familiar with GCODE it is possible to send unwanted commands and cause damage to your 3D printer. Use caution if you're new to using the terminal. - <a href="#">Hide Warning Message</a>
		</div>
	</div>

  <div class="small-12 columns">
    <div class="output-container"></div>
    <form>
      <div class="row collapse">
        <div class="small-8 large-9 columns">
          <input type="text" name="gcode" placeholder="Enter your GCODE" autocomplete="off"/>
        </div>
        <div class="small-2 columns">
          <div class="loading-button expand">
            <button class="success tiny send bold">Send</button>
            <span class="button success tiny disabled loading"><i class="icon-rocket-spinner animate-spin"></i> Sending</span>
            <span class="button alert tiny disabled failed"><i class="icon-attention"></i> Failed</span>
          </div>
      	</div>
		  	<div class="small-2 large-1 columns">
			  	<div class="clear-button">
				  	<button class="secondary tiny clear bold">Clear</button>
			  	</div>
				</div>
			</div>
  	</form>
  </div>
</div>
