<div class="row">
	<div class="small-12 columns title-heading">
		<h1 class="bold">{{astroboxName}} · GCODE Terminal</h1>
	</div>

  <div class="small-12 columns">
    <div id="gcode-terminal"></div>
  </div>
</div>
