<div class="row">
	<div class="small-12 columns title-heading">
		<h1 class="bold">{{astroboxName}} · GCODE Terminal</h1>
	</div>

	<div class="small-12 columns">
		<div class="alert-box warning terminal radius">
			<i class="icon-attention"> </i> The GCode Terminal is for advanced users. If you are not familiar with GCODE it is possible to send unwanted commands and cause damage to your 3D printer. Use caution if you're new to using the terminal. - <a href="#">Hide Warning Message</a>
		</div>
	</div>

  <div class="small-12 columns">
    <div id="gcode-terminal"></div>
  </div>
</div>
