<div class="row">
	<div class="small-12 columns" align="center">
		<i class="icon-off blink-animation"></i>
		<h1 class="bold loading">Going to sleep...</h1>
		<h2 class="bold done">It's now safe to unplug your Controller</h2>
	</div>
</div>

<div id="turnoff-modal" class="reveal-modal medium radius" data-reveal align="center">
	<h2 class="bold">Controller Shut Down</h2>
	<div class="modal-body">
		<p>The Controller will go into suspend mode. Any active print job will be stopped.</p>
		<p>Are you sure?</p>
	</div>
	<div class="row">
		<div class="small-12 medium-6 columns">
			<button class="secondary radius expand">Cancel</button>
		</div>
		<div class="small-12 medium-6 columns">
			<button class="alert radius expand">Yes, shut it down</button>
		</div>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>
