<div class="row">
	<div class="small-12 columns" align="center">
		<i class="icon-off blink-animation"></i>
		<h1 class="bold loading">Going to sleep...</h1>
		<h2 class="bold done">It's now safe to unplug your {{variantData['productName']}}</h2>
	</div>
</div>

<div id="turnoff-modal" class="reveal-modal medium radius" data-reveal align="center">
	<h2>Turn {{variantData['productName']}} off.</h2>
	<p>The Box will go into suspend mode. Any active print job will be stopped.</p>
	<p>Are you sure?</p>
	<button class="secondary radius">Cancel</button>
	<button class="alert radius">Yes, turn it off</button>
	<a class="close-reveal-modal">&#215;</a>
</div>