<div class="row">
	<div class="small-12 columns text-center panel">
		<img src="/img/browser-disconnect-icon.png" alt="browser disconnected icon"/>
		<h3 class="bold"><span class="box-name">{{astroboxName}}</span> has lost its connection with your browser.</h3>
		<p>The connection between <b>{{astroboxName}}</b> and your browser has been lost. Try clicking the button below to reconnect. If you continue to get this screen after clicking the button, try rebooting <b>{{astroboxName}}</b>.</p>
		<div class="loading-button">
			<button class="success radius">Try Reconnecting Now</button>
			<span class="success disabled radius button loading"><i class="icon-rocket-spinner animate-spin"></i>Checking...</span>
		</div>
	</div>
</div>
