<div class="row">
	<div class="small-12 columns">
		Box Unreachable
		<div class="loading-button">
			<button class="success radius">Check Now</button>
			<span class="success disabled radius button loading"><i class="icon-rocket-spinner animate-spin"></i>Checking...</span>
		</div>
	</div>
</div>
