<div class="row">
	<div class="small-12 columns text-center panel">
		<img src="/img/browser-disconnect-icon.png" alt="browser disconnected icon"/>
		<h3 class="bold"><span class="box-name">{{astroboxName}}</span> has lost its connection with your browser.</h3>
		<p>The connection between <b>{{astroboxName}}</b> and your browser has been lost. Possible causes for this include:</p>
		<ul align="left" class="small-12 medium-8 columns small-centered">
			<li><b>{{astroboxName}}</b> has gone offline, lost power or was switched off.</li>
			<li>The device you're using to access <b>{{astroboxName}}</b> is connected to a different network.</li>
		</ul>
		<p>Try using the button below to reconnect.</p>
		<div class="loading-button">
			<button class="success radius">Try Reconnecting Now</button>
			<span class="success disabled radius button loading"><i class="icon-rocket-spinner animate-spin"></i>Checking...</span>
		</div>
	</div>
</div>
