<script type="text/template" id="semi-circle-template">
  <div class="temp-container">
    <div class="row">
      <span class="name small-12 columns" align="center"></span>
      <div class="row circle-container" align="center">
        <div class="progress-temp-circle">
          <div class="target-selector"></div>
          <div class="current"></div>
        </div>
      </div>
      <div class="row buttons-container" align="center">
        <div class="small-offset-2 small-2 columns container-off" align="left">
          <button class="temp-off secondary small radius expand"><i class="icon-snow"></i></button>
        </div>
        <div class="small-8 columns temp-target radius bold">
          <span class="small-3 columns label-target" align="left">Target </span>
          <span class="small-3 columns target-value">- -</span>
          <input type="number" class="hide" align="right"/>
          <a class="small-2 columns temp-edit" align="right"><i class="icon-pencil"></i></a>
        </div>
      </div>
    </div>
  </div>
</script>
