<script type="text/template" id="semi-circle-template">
  <div class="temp-container row">
    <span class="name small-12 columns" align="center"></span>
    <div class="small-12 columns" align="center">
      <div class="row circle-container" align="center">
        <div class="progress-temp-circle">
          <div class="target-selector"></div>
          <div class="current"></div>
        </div>
      </div>
      <div class="row buttons-container" align="center">
        <div class="small-offset-2 small-2 columns container-off" align="left">
          <button class="temp-off secondary small radius expand"><i class="icon-snow"></i></button>
        </div>
        <div class="small-8 columns temp-target radius bold">
          <div class="row">
            <div class="small-6 columns target">
              <span class="small-3 columns label-target" align="center">Target </span>
              <span class="small-2 columns target-value" align="left">- -</span>
            </div>
            <div class="small-6 columns" align="left">
              <input type="number" class="hide"/>
                <button class="temp-edit">
                  <i class="icon-pencil"></i>
                  <i class="icon-rocket-spinner animate-spin"></i>
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
